/* Cabeçalho */
/* ========= */

.topo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 5px;
	color: #788598;
	background-color: #2E2F31;
	display: flex;
	flex-direction: row;
}

.gravatar {
	border-radius: 27px;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 9px;
}

.gravatar img {
	width: 54px;
	height: 54px;
	display: block;
}

header {
	padding: 5px;
	padding-bottom: 0;
}

header h1 {
	color: #FFFFFF;
}

header h2 {
	color: #B6C2D3;
}

.topo nav {
	font-size: 14px;
	margin-top: 4px;
	margin-left: 20px;
}

.topo nav div {
	display: flex;
	flex-direction: row;
}

.topo ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.topo a {
	color: #E72E88;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.topo a:hover,
.topo a:active {
	text-decoration: underline;
}

.rodape {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 3px;
	background-color: #FBFBFB;
	font-size: 11px;
}

.tutoriais a {
	color: #00A6FF;
}

/* Seções */
/* ====== */

section {
	padding: 10px;
	width: 960px;
	height: 280px;
	position: relative; /* three.js vai mudar para absolut */
	overflow: hidden;
	cursor: pointer;
	background-color: #ffffff;
	opacity: 0.2;
	/* desabilitado pq fica muito pesado */
	/*-webkit-filter: blur(3px);
	filter: blur(3px);*/
	transition: background-color 500ms, opacity 500ms;
}

.foco {
	cursor: default;
	opacity: 1;
	background-color: #FBFBFB;
	/* desabilitado pq fica muito pesado */
	/*-webkit-filter: none;
	filter: none;*/
}

section h2 {
	font-family: Oswald;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	font-size: 60px;
	line-height: 60px;
	transform-origin: left top;
	transform: rotateZ(90deg) translateY(-62px);/* translateX(-430px);*/
}

section > div {
	margin-left: 70px;
	margin-top: -60px;
}

.desenhos {
	width: 400px;
}

.desenhos p {
	margin-left: 32px;
	margin-top: 3px;
}

#tangente {
	cursor: default;
}

.interacoes {
	cursor: default;
	width: 620px;
}

.interacoes > div {
	margin-left: 92px;
	margin-top: -44px;
}

.interacoes img {
	position: absolute;
	right: 20px;
	top: 146px;
}

.paralaxe {
	font-family: Menlo, Consolas, monospace;
	font-size: 26px;
	position: relative;
	margin-top: 50px;
}

.paralaxe p {
	position: absolute;
	transform-origin: left center;
}

.paralaxe p:last-child {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url(../imagens/rotate.svg);
	background-size: 32px 32px;
	padding-right: 40px;
	padding-bottom: 35px;
}

.mapas {
	width: 825px;
}

.mapa {
	width: 750px;
	height: 275px;
}

/* texto dos balões do google maps */
.gm-style .gm-style-iw {
	color: hsl(0, 0%, 30%);
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

.biografia > div {
	margin-left: 86px;
}

.biografia h3 {
	margin-top: 15px;
	margin-bottom: 3px;
}

.biografia ul {
	margin-top: 15px;
}

.linksBio li {
	display: inline;
	margin-left: 10px;
}

.linksBio li:first-child {
	margin-left: 0;
}

.contato {
	width: 550px;
	height: 210px;
}

.contato h2 {
	margin-top: 4px;
}

.contato > div {
	margin-left: 86px;
}

.contato > div > :first-child {
	font-size: 22px;
}

.contato ul {
	list-style-type: none;
	margin-top: 12px;
	margin-bottom: 15px;
}

.contato li {
	/*display: block;*/
	margin-top: 12px;
}

.contato img {
	width: 50px;
	height: 50px;
	display: inline-block;
}

/* Subseções da biografia */
/* ====================== */

.sub {
	color: #B6C2D3;
}

.sub.foco {
	background-color: #2E2F31;
}

.sub h2 {
	font-family: Code;
	font-weight: bold;
	display: block;
	vertical-align: baseline;
	font-size: 25px;
	line-height: 31px;
	color: #E72E88;
	/*color: hsl(0, 0%, 30%);
	transform-origin: left top;*/
	transform: none;
}

.sub > div {
	margin-left: 0;
	margin-top: 0;
}

.sub time {
	color: #E72E88;
}

.idiomas {
	width: 800px;
}

.idiomas meter {
	width: 300px;
	/* ver https://css-tricks.com/html5-meter-element/ se eu quiser usar os prefixos etc */
}

.formacaoacademica h2,
.experiencia h2 {
	margin-bottom: 8px;
}

.formacaoacademica p {
	font-size: 15px;
	color: #788598;
	margin-bottom: 11px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.formacaoacademica time,
.experiencia div > time {
	padding-left: 27px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-right: 16px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../imagens/clock.svg);
	background-size: 21px 21px;
}

.formacaoacademica strong {
	font-weight: normal;
	font-size: 18px;
	color: #B6C2D3;
	display: block;
}

.dominiotecnico {
	background-repeat: no-repeat;
	background-image: url(../imagens/cloud.png);
	background-position: -23px -13px;
}

.dominiotecnico div {
	/*display: flex;
	flex-direction: row;*/
	position: relative;
}

.dominiotecnico ol {
	position: absolute;
	list-style-position: inside;
	margin-right: 10px;
	list-style-type: none;
	font-family: Oswald;
	font-weight: 300;
}

.dominiotecnico li {
	position: absolute;
	white-space: pre;
}

/* Linguagens */
/* ========== */

/* Ver uma fonte condensada pra isso? */

.linguagens {
	color: #E72E88;
}

.linguagens li:nth-child(1),
.linguagens li:nth-child(2),
.linguagens li:nth-child(3) {
	font-size: 36px;
	line-height: 36px;
}

.linguagens li:nth-child(1) {
	left: 126px;
	top: 56px;
}

.linguagens li:nth-child(2) {
	left: 387px;
	top: 145px;
}

.linguagens li:nth-child(3) {
	left: 445px;
	top: 208px;
}

.linguagens li:nth-child(4),
.linguagens li:nth-child(5) {
	font-size: 25px;
	line-height: 25px;
}

.linguagens li:nth-child(4) {
	left: 255px;
	top: 215px;
}

.linguagens li:nth-child(5) {
	left: 438px;
	top: 108px;
}

.linguagens li:nth-child(6) {
	font-size: 18px;
	line-height: 18px;
	left: 408px;
	top: 52px;
}

.linguagens li:nth-child(7) {
	font-size: 13px;
	line-height: 13px;
	left: 133px;
	top: 165px;
}

.destaque1 {
	color: #ffffff;
}

.destaque1 li:nth-child(1),
.destaque1 li:nth-child(2),
.destaque1 li:nth-child(3) {
	font-size: 61px;
	line-height: 61px;
}

.destaque1 li:nth-child(1) {
	left: 319px;
	top: 74px;
}

.destaque1 li:nth-child(2) {
	left: 441px;
	top: 141px;
}

.destaque1 li:nth-child(3) {
	left: 497px;
	top: 39px;
}

.destaque1 li:nth-child(4) {
	font-size: 46px;
	line-height: 46px;
	left: 238px;
	top: 167px;
}

.destaque1 li:nth-child(5) {
	font-size: 33px;
	line-height: 33px;
	left: 490px;
	top: 106px;
}

.destaque1 li:nth-child(6),
.destaque1 li:nth-child(7),
.destaque1 li:nth-child(8) {
	font-size: 32px;
	line-height: 32px;
}

.destaque1 li:nth-child(6) {
	left: 181px;
	top: 101px;
}

.destaque1 li:nth-child(7) {
	left: 185px;
	top: 177px;
}

.destaque1 li:nth-child(8) {
	left: 342px;
	top: 11px;
}

.destaque1 li:nth-child(9),
.destaque1 li:nth-child(10),
.destaque1 li:nth-child(11) {
	font-size: 27px;
	line-height: 27px;
}

.destaque1 li:nth-child(9) {
	left: 532px;
	top: 17px;
}

.destaque1 li:nth-child(10) {
	left: 204px;
	top: 27px;
}

.destaque1 li:nth-child(11) {
	left: 36px;
	top: 52px;
}

.destaque1 li:nth-child(12) {
	font-size: 23px;
	line-height: 23px;
	left: 50px;
	top: 26px;
}

.destaque1 li:nth-child(13),
.destaque1 li:nth-child(14),
.destaque1 li:nth-child(15),
.destaque1 li:nth-child(16) {
	font-size: 17px;
	line-height: 17px;
}

.destaque1 li:nth-child(13) {
	left: 281px;
	top: 23px;
}

.destaque1 li:nth-child(14) {
	left: 387px;
	top: 195px;
}

.destaque1 li:nth-child(15) {
	left: 316px;
	top: 222px;
}

.destaque1 li:nth-child(16) {
	left: 437px;
	top: 81px;
}

.destaque2 {
	color: #B6C2D3;
}

.destaque2 li:nth-child(1),
.destaque2 li:nth-child(2),
.destaque2 li:nth-child(3) {
	font-size: 24px;
	line-height: 24px;
}

.destaque2 li:nth-child(1) {
	left: 141px;
	top: 32px;
}

.destaque2 li:nth-child(2) {
	left: 149px;
	top: 97px;
}

.destaque2 li:nth-child(3) {
	left: 404px;
	top: -9px;
}

.destaque2 li:nth-child(4),
.destaque2 li:nth-child(5) {
	font-size: 18px;
	line-height: 18px;
}

.destaque2 li:nth-child(4) {
	left: 322px;
	top: 49px;
}

.destaque2 li:nth-child(5) {
	left: 140px;
	top: 183px;
}

.destaque2 li:nth-child(6) {
	font-size: 14px;
	line-height: 14px;
	left: 43px;
	top: 96px;
}

.destaque3 {
	color: #788598;
}

/* Softwares */
/* ========= */

.softwares ul {
	list-style-type: none;
}

/* Experiencia */
/* =========== */

.experiencia {
	height: 334px;
}

.experiencia > div > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 11px;
	/* ver fontes */
}

.experiencia div > time {
	background-position: left top;
}

.experiencia p,
.experiencia p a {
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
}

.experiencia p span,
.experiencia p span a {
	color: #788598;
	font-size: 15px;
}

.experiencia p:first-child {
	color: #B6C2D3;
	font-size: 18px;
}