/* Cabeçalho */
/* ========= */

.topo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 5px;
	color: #788598;
	background-color: #2E2F31;
	display: flex;
	flex-direction: row;
}

.gravatar {
	border-radius: 27px;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 9px;
}

.gravatar img {
	width: 54px;
	height: 54px;
	display: block;
}

header {
	padding: 5px;
	padding-bottom: 0;
}

header h1 {
	color: #FFFFFF;
}

header h2 {
	color: #B6C2D3;
}

.topo nav {
	font-size: 14px;
	margin-top: 4px;
	margin-left: 20px;
}

.topo nav div {
	display: flex;
	flex-direction: row;
}

.topo ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.topo a {
	color: #E72E88;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.topo a:hover,
.topo a:active {
	text-decoration: underline;
}

.tutoriais a {
	color: #00A6FF;
}

/* Seções */
/* ====== */

section {
	padding: 10px;
	width: 960px;
	height: 280px;
	position: relative; /* three.js vai mudar para absolut */
	overflow: hidden;
	cursor: pointer;
	background-color: #ffffff;
	opacity: 0.2;
	transition: background-color 500ms, opacity 500ms;
}

.foco {
	cursor: default;
	opacity: 1;
	background-color: #FBFBFB;
}

/*section:nth-child(2n) {
	border-color: hsl(66, 59%, 75%);
	background-color: hsl(66, 59%, 98%);
}

section:nth-child(2n + 1) {
	border-color: hsl(0, 0%, 30%);
	background-color: hsl(0, 0%, 98%);
}*/

/*hsla(0, 100%, 100%, 1);*/
section h2 {
	font-family: Oswald;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	font-size: 60px;
	line-height: 60px;
	transform-origin: left top;
	transform: rotateZ(90deg) translateY(-62px);/* translateX(-430px);*/
}

section > div {
	margin-left: 70px;
	margin-top: -60px;
}

.desenhos {
	width: 400px;
}

.desenhos p {
	margin-left: 32px;
	margin-top: 3px;
}

#tangente {
	cursor: default;
}

.interacoes {
	cursor: default;
	width: 620px;
}

.interacoes > div {
	margin-left: 92px;
	margin-top: -44px;
}

.interacoes img {
	position: absolute;
	right: 20px;
	top: 146px;
}

.paralaxe {
	font-family: Menlo, Consolas, monospace;
	font-size: 26px;
	position: relative;
	margin-top: 50px;
}

.paralaxe p {
	position: absolute;
	transform-origin: left center;
}

.paralaxe p:last-child {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url(../imagens/rotate.svg);
	background-size: 32px 32px;
	padding-right: 40px;
	padding-bottom: 35px;
}

.mapas {
	width: 825px;
}

.mapa {
	width: 750px;
	height: 275px;
}

/* texto dos balões do google maps */
.gm-style .gm-style-iw {
	color: hsl(0, 0%, 30%);
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

.biografia > div {
	margin-left: 86px;
}

.biografia h3 {
	margin-top: 15px;
	margin-bottom: 3px;
}

.biografia ul {
	margin-top: 15px;
}

.linksBio li {
	display: inline;
	margin-left: 10px;
}

.linksBio li:first-child {
	margin-left: 0;
}

.contato {
	width: 550px;
	height: 210px;
}

.contato h2 {
	margin-top: 4px;
}

.contato > div {
	margin-left: 86px;
}

.contato > div > :first-child {
	font-size: 22px;
}

.contato ul {
	list-style-type: none;
	margin-top: 12px;
	margin-bottom: 15px;
}

.contato li {
	/*display: block;*/
	margin-top: 12px;
}

.contato img {
	width: 50px;
	height: 50px;
	display: inline-block;
}

/* Subseções da biografia */
/* ====================== */

.sub {
	color: #B6C2D3;
}

.sub.foco {
	background-color: #2E2F31;
}

.sub h2 {
	font-family: Code;
	font-weight: bold;
	display: block;
	vertical-align: baseline;
	font-size: 25px;
	line-height: 31px;
	color: #E72E88;
	/*color: hsl(0, 0%, 30%);
	transform-origin: left top;*/
	transform: none;
}

.sub > div {
	margin-left: 0;
	margin-top: 0;
}

.sub time {
	color: #E72E88;
}

.idiomas {
	width: 800px;
}

.idiomas meter {
	width: 300px;
	/* ver https://css-tricks.com/html5-meter-element/ */
	/*background-image: linear-gradient(
		90deg,
		#8bcf69 5%,
		#e6d450 5%,
		#e6d450 100%
	);*/
}

.formacaoacademica h2,
.experiencia h2 {
	margin-bottom: 8px;
}

.formacaoacademica p {
	font-size: 15px;
	color: #788598;
	margin-bottom: 11px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.formacaoacademica time,
.experiencia div > time {
	padding-left: 27px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-right: 16px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../imagens/clock.svg);
	background-size: 21px 21px;
}

.formacaoacademica strong {
	font-weight: normal;
	font-size: 18px;
	color: #B6C2D3;
	display: block;
}

.dominiotecnico div {
	display: flex;
	flex-direction: row;
}

.dominiotecnico ol {
	list-style-position: inside;
	margin-right: 10px;
	list-style-type: none;
}

/* Linguagens */
/* ========== */

/* Ver uma fonte condensada pra isso? */

.linguagens {
	color: #E72E88;
}

.linguagens li:nth-child(1),
.linguagens li:nth-child(2),
.linguagens li:nth-child(3) {
	font-size: 44px;
	line-height: 44px;
}

.linguagens li:nth-child(4),
.linguagens li:nth-child(5) {
	font-size: 32px;
	line-height: 32px;
}

.linguagens li:nth-child(6) {
	font-size: 25px;
	line-height: 25px;
}

.linguagens li:nth-child(7) {
	font-size: 16px;
	line-height: 16px;
}

.destaque1 {
	color: #ffffff;
}

.destaque1 li:nth-child(1),
.destaque1 li:nth-child(2),
.destaque1 li:nth-child(3) {
	font-size: 84px;
	line-height: 84px;
}

.destaque1 li:nth-child(4) {
	font-size: 60px;
	line-height: 60px;
}

.destaque1 li:nth-child(5) {
	font-size: 49px;
	line-height: 49px;
}

.destaque1 li:nth-child(6),
.destaque1 li:nth-child(7),
.destaque1 li:nth-child(8) {
	font-size: 43px;
	line-height: 43px;
}

.destaque1 li:nth-child(9),
.destaque1 li:nth-child(10),
.destaque1 li:nth-child(11) {
	font-size: 38px;
	line-height: 38px;
}

.destaque1 li:nth-child(12) {
	font-size: 31px;
	line-height: 31px;
}

.destaque1 li:nth-child(13),
.destaque1 li:nth-child(14),
.destaque1 li:nth-child(15),
.destaque1 li:nth-child(16) {
	font-size: 24px;
	line-height: 24px;
}

.destaque2 {
	color: #B6C2D3;
}

.destaque2 li:nth-child(1),
.destaque2 li:nth-child(2),
.destaque2 li:nth-child(3) {
	font-size: 29px;
	line-height: 29px;
}

.destaque2 li:nth-child(4),
.destaque2 li:nth-child(5) {
	font-size: 24px;
	line-height: 24px;
}

.destaque2 li:nth-child(6) {
	font-size: 19px;
	line-height: 19px;
}

.destaque3 {
	color: #788598;
}

/* Experiencia */
/* =========== */

.experiencia {
	height: 334px;
}

.experiencia > div > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 11px;
	/* ver fontes */
}

.experiencia div > time {
	background-position: left top;
}

.experiencia p,
.experiencia p a {
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
}

.experiencia p span,
.experiencia p span a {
	color: #788598;
	font-size: 15px;
}

.experiencia p:first-child {
	color: #B6C2D3;
	font-size: 18px;
}