.scroll .indice {
	position: fixed;
	top: 0;
	bottom: 0;
	margin-left: calc(-40px - 330px);
	overflow: scroll;
	z-index: 3;
	background-color: #2E2F31;
	width: 350px;
	transition: margin-left 300ms;
}

.scroll .indice h2 {
	position: fixed;
	width: 330px;
	margin-left: 0;
	margin-top: 0;
	padding-left: 20px;
	padding-top: 30px;
	color: #00D9D2;
	background-color: #494B4F;
}

.scroll .indice a {
	color: #B6C2D3;
}

@media (prefers-color-scheme: dark) {
	.scroll .indice {
		background-color: hsl(0deg, 0%, 0%);
	}

	.scroll .indice h2 {
		background-color: hsl(0deg, 0%, 0%);
	}
}

.scroll .indice:hover {
	margin-left: -40px;
}

.scroll #indice {
	margin-top: 115px; /* h2 box */
}

.indice + section h2 {
	margin-top: 250px;
}