@font-face {
	font-family: 'Code';
	src: url('../fontes/code_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Code';
	src: url('../fontes/code_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

html * {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	padding: 20px;
	color: #505B66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Code, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 68px;
	margin-bottom: 20px;
}

h1 span {
	font-size: 30px;
	line-height: 32px;
	display: block;
}

h2 {
	font-size: 45px;
	line-height: 50px;
	margin-top: 70px;
	margin-bottom: 35px;
}

h2 span {
	font-size: 25px;
	display: block;
}

h3 {
	font-size: 23px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 20px;
}

h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	margin-bottom: 20px;
}

ul,
ol {
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

blockquote {
	font-size: 13px;
	margin: 20px;
}

a {
	color: #D10077;
}

code {
	font-family: Consolas, Menlo, 'Courier New', Courier;
	white-space: pre;
	overflow-x: auto;
}

code strong,
code strong * {
	font-weight: normal;
}

code > a {
	color: inherit;
	text-decoration: none;
}

code > a:hover {
	text-decoration: underline;
}

div code {
	display: block;
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 19px;
	-moz-tab-size: 4;
	tab-size: 4;

	hyphens: none;
	counter-reset: linenumber;
}

div .multipart {
	margin-bottom: 0;
	padding-bottom: 0;
}

div .multipart + code {
	margin-top: 0;
	padding-top: 35px;
}

.codeblock p {
	white-space: nowrap;
}

.comparison {
	display: flex;
}

.comparison .codeblock {
	margin-right: 10px;
}

.comparison.large .codeblock {
	margin-right: 70px;
}

.comparison .codeblock:last-child {
	margin-right: 0;
}

.pair {
	display: flex;
}

.pair > div:first-child {
	margin-right: 10px;
}

/* TODO */

code .line {
	/*pointer-events: none;
	display: block;*/
	counter-increment: linenumber;
}

code .line:before {
	content: counter(linenumber);
	/*color: #999;
	display: block;
	padding-right: .8em;
	text-align: right*/
}

/*.terminal {
	white-space: normal;
}*/

code .toggle {
	display: none; /* melhorar isso depois */
}

div.codeblock.bubaloop {
	color: #505B66;
	background-color: #FBFBFB;
	background-image: url(../imagens/fundoBubaloop.png);
	background-position: left top;
	background-repeat: no-repeat;
}

div.codeblock.bubaloop p {
	margin-bottom: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 3px;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
	border-right: 5px solid #D10077;
	background-image: url(../imagens/fundoBubaloop.png);
	background-position: left top;
	background-repeat: no-repeat;
}

div.codeblock.bubaloop p + code {
	margin-top: 0;
	/*padding-top: 0;*/
}

.bubaloop.highlight strong,
.bubaloop.highlight strong * {
	opacity: 1 !important;
	border-radius: 40px;
	font-weight: normal;
}

div.codeblock.bubaloop p + code.javascript {
	margin-top: 20px;
	padding-top: 0;
}

/* general */

.bubaloop.highlight strong {
	color: #101010;
	background-color: hsl(195, 100%, 50%);
	box-shadow: 0 0 0 6px hsl(195, 100%, 50%); /* h v blur spread color */
	position: relative;
	z-index: 2;
}

.bubaloop.highlight strong.small {
	box-shadow: 0 0 0 4px hsl(195, 100%, 50%); /* h v blur spread color */
}

.bubaloop.highlight strong.comment {
	background-color: #D10077;
	box-shadow: 0 0 0 6px #D10077; /* h v blur spread color */
	z-index: 1;
}

.bubaloop.highlight strong.small.comment {
	box-shadow: 0 0 0 4px #D10077; /* h v blur spread color */
}

.bubaloop.highlight strong .type {
	color: #8a008a;
}

.bubaloop.highlight strong .operator {
	color: #505B66;
}

.bubaloop.highlight strong .comment,
.bubaloop.highlight strong .comment a {
	color: #ffffff;
}

/* generic */

.bubaloop.generic .keyword,
.bubaloop.generic .number,
.bubaloop.generic .boolean {
	color: #0040B4;
}

.bubaloop.generic .type {
	color: #8AD100;
}

.bubaloop.generic .operator {
	color: #7F8EA3;
}

.bubaloop.generic .comment {
	color: #D10077;
}

.bubaloop.generic .directive {
	color: #D10077; /* TODO test color */
}

.bubaloop.generic .string {
	color: #0099FF;
}

/* C++ */

.bubaloop.cpp .keyword,
.bubaloop.cpp .number {
	color: #0040B4;
}

.bubaloop.highlight.cpp strong .type {
	color: #8a008a;
}

.bubaloop.cpp .type {
	color: #8AD100;
}

.bubaloop.cpp .string,
.bubaloop.cpp .rstring {
	color: #0099FF;
}

.bubaloop.highlight.cpp strong .string,
.bubaloop.highlight.cpp strong .rstring {
	color: #ffffff;
}

.bubaloop.cpp .comment,
.bubaloop.cpp .comment a {
	color: #D10077;
}

.bubaloop.highlight.cpp strong .comment,
.bubaloop.highlight.cpp strong .comment a {
	color: #ffffff;
}

.bubaloop.cpp .directive,
.bubaloop.cpp .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.cpp strong .operator {
	color: #505B66;
}

/* Objective-C */

.bubaloop.objectivec .keyword,
.bubaloop.objectivec .number {
	color: #0040B4;
}

.bubaloop.highlight.objectivec strong .type {
	color: #8a008a;
}

.bubaloop.objectivec .type {
	color: #8AD100;
}

.bubaloop.objectivec .string,
.bubaloop.objectivec .objcstring {
	color: #0099FF;
}

.bubaloop.highlight.objectivec strong .string,
.bubaloop.highlight.objectivec strong .objcstring {
	color: #ffffff;
}

.bubaloop.objectivec .comment,
.bubaloop.objectivec .comment a {
	color: #D10077;
}

.bubaloop.highlight.objectivec strong .comment,
.bubaloop.highlight.objectivec strong .comment a {
	color: #ffffff;
}

.bubaloop.objectivec .directive,
.bubaloop.objectivec .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.objectivec strong .operator {
	color: #505B66;
}

/* Swift */

.bubaloop.swift .keyword,
.bubaloop.swift .number {
	color: #0040B4;
}

.bubaloop.highlight.swift strong .type {
	color: #8a008a;
}

.bubaloop.swift .type {
	color: #8AD100;
}

.bubaloop.swift .string {
	color: #0099FF;
}

.bubaloop.highlight.swift strong .string {
	color: #ffffff;
}

.bubaloop.swift .comment,
.bubaloop.swift .comment a {
	color: #D10077;
}

.bubaloop.highlight.swift strong .comment,
.bubaloop.highlight.swift strong .comment a {
	color: #ffffff;
}

.bubaloop.swift .directive,
.bubaloop.swift .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.swift strong .operator {
	color: #505B66;
}

/* Rust */

.bubaloop.rust .keyword,
.bubaloop.rust .number {
	color: #0040B4;
}

.bubaloop.highlight.rust strong .type {
	color: #8a008a;
}

.bubaloop.rust .type {
	color: #8AD100;
}

.bubaloop.rust .string {
	color: #0099FF;
}

.bubaloop.highlight.rust strong .string {
	color: #ffffff;
}

.bubaloop.rust .comment,
.bubaloop.rust .comment a {
	color: #D10077;
}

.bubaloop.highlight.rust strong .comment,
.bubaloop.highlight.rust strong .comment a {
	color: #ffffff;
}

.bubaloop.rust .attribute,
.bubaloop.rust .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.rust strong .operator {
	color: #505B66;
}

.bubaloop.rust .lifetime {
	color: #8D00FF;
}

/* C# */

.bubaloop.cs .keyword,
.bubaloop.cs .number {
	color: #0040B4;
}

.bubaloop.highlight.cs strong .type {
	color: #8a008a;
}

.bubaloop.cs .type {
	color: #8AD100;
}

.bubaloop.cs .string,
.bubaloop.cs .vstring, /* verbatim (@) strings */
.bubaloop.cs .istring { /* interpolated ($) strings */
	color: #0099FF;
}

.bubaloop.highlight.cs strong .string,
.bubaloop.highlight.cs strong .vstring,
.bubaloop.highlight.cs strong .istring {
	color: #ffffff;
}

.bubaloop.cs .comment,
.bubaloop.cs .comment a {
	color: #D10077;
}

.bubaloop.highlight.cs strong .comment,
.bubaloop.highlight.cs strong .comment a {
	color: #ffffff;
}

.bubaloop.cs .directive,
.bubaloop.cs .operator,
.bubaloop.cs .attribute {
	color: #7F8EA3;
}

.bubaloop.highlight.cs strong .operator {
	color: #505B66;
}

/* Java */

.bubaloop.java .keyword,
.bubaloop.java .number {
	color: #0040B4;
}

.bubaloop.highlight.java strong .type {
	color: #8a008a;
}

.bubaloop.java .type {
	color: #8AD100;
}

.bubaloop.java .string {
	color: #0099FF;
}

.bubaloop.highlight.java strong .string {
	color: #ffffff;
}

.bubaloop.java .annotation {
	color: #7F8EA3;
}

.bubaloop.java .comment,
.bubaloop.java .comment a {
	color: #D10077;
}

.bubaloop.highlight.java strong .comment,
.bubaloop.highlight.java strong .comment a {
	color: #ffffff;
}

.bubaloop.java .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.java strong .operator {
	color: #505B66;
}

/* JavaScript */

.bubaloop.highlight.javascript strong {
	color: #101010;
	background-color: hsl(195, 100%, 50%);
	box-shadow: 0 0 0 6px hsl(195, 100%, 50%); /* h v blur spread color */
	position: relative;
	z-index: 2;
}

.bubaloop.highlight.javascript strong.small {
	box-shadow: 0 0 0 4px hsl(195, 100%, 50%); /* h v blur spread color */
}

.bubaloop.highlight.javascript strong.comment {
	background-color: #D10077;
	box-shadow: 0 0 0 6px #D10077; /* h v blur spread color */
	z-index: 1;
}

.bubaloop.javascript .keyword,
.bubaloop.javascript .functionName,
.bubaloop.javascript .number,
.bubaloop.javascript .boolean {
	color: #0040B4;
}

.bubaloop.highlight.javascript strong .type {
	color: #8a008a;
}

.bubaloop.javascript .type {
	color: #8AD100;
}

.bubaloop.javascript .string {
	color: #0099FF;
}

.bubaloop.highlight.javascript strong .string {
	color: #ffffff;
}

.bubaloop.javascript .regex {
	color: #8D00FF;
}

.bubaloop.javascript .comment,
.bubaloop.javascript .comment a {
	color: #D10077;
}

.bubaloop.highlight.javascript strong .comment,
.bubaloop.highlight.javascript strong .comment a {
	color: #ffffff;
}

.bubaloop.javascript .operator {
	color: #7F8EA3;
}

.bubaloop.highlight.javascript strong .operator {
	color: #505B66;
}

.bubaloop.javascript .memberAccessOperator {
	color: inherit;
}

.bubaloop.javascript .argumentsDelimiter,
.bubaloop.javascript .argumentsSeparator,
.bubaloop.javascript .objectDelimiter,
.bubaloop.javascript .objectSeparator,
.bubaloop.javascript .propertySeparator,
.bubaloop.javascript .arrayDelimiter,
.bubaloop.javascript .arraySeparator {
	color: #000000;
}

/* html */

.bubaloop.highlight.html strong {
	background-color: #00A6FF;
	box-shadow: 0 0 0 6px #00A6FF; /* h v blur spread color */
	position: relative;
	z-index: 2;
}

.bubaloop.highlight.html strong.comment {
	background-color: #8AD100;
	box-shadow: 0 0 0 6px #8AD100; /* h v blur spread color */
	z-index: 1;
}

.bubaloop.highlight.html strong.comment,
.bubaloop.highlight.html strong .comment,
.bubaloop.highlight.html strong .comment a {
	color: #ffffff;
}

.codeblock .bubaloop.html,
.codeblock .bubaloop.css {
	background-color: #2E2F31;
	color: #B6C2D3;
}

.bubaloop.html .doctype {
	color: #505B66;
}

.bubaloop.html .tag,
.bubaloop.css .selector {
	color: #0076E6;
}

.bubaloop.highlight.html strong .tag {
	color: #272727;
}

.bubaloop.html .attribute,
.bubaloop.css .property {
	color: #788598;
}

.bubaloop.highlight.html strong .attribute {
	color: #0040B4;
}

.bubaloop.html .attributeValue,
.bubaloop.css .value {
	color: #00A6FF;
}

.bubaloop.highlight.html strong .attributeValue {
	color: #ffffff;
}

.bubaloop.html .comment,
.bubaloop.css .comment {
	color: #91E500;
}

/* highlighter */

.bubaloop .keyword,
.bubaloop .type,
.bubaloop .symbol,
.bubaloop .operator,
.bubaloop .comment,
.bubaloop .directive,
.bubaloop .number,
.bubaloop .boolean,
.bubaloop .string,

.bubaloop.javascript .variableName,
.bubaloop.javascript .functionName,
.bubaloop.javascript .argumentsDelimiter,
.bubaloop.javascript .argumentsSeparator,
.bubaloop.javascript .objectDelimiter,
.bubaloop.javascript .objectSeparator,
.bubaloop.javascript .objectProperty,
.bubaloop.javascript .objectMethod,
.bubaloop.javascript .propertyName,
.bubaloop.javascript .propertySeparator,
.bubaloop.javascript .arrayDelimiter,
.bubaloop.javascript .arraySeparator,
.bubaloop.javascript .statementSeparator,
.bubaloop.javascript .regex,
.bubaloop.javascript .exceptionStub,

.bubaloop.html .doctype,
.bubaloop.html .tag,
.bubaloop.html .attribute,
.bubaloop.html .attributeValue,
.bubaloop.html .text {

	transition: opacity 500ms, color 300ms;
}

.bubaloop.highlight .keyword,
.bubaloop.highlight .type,
.bubaloop.highlight .symbol,
.bubaloop.highlight .operator,
.bubaloop.highlight .comment,
.bubaloop.highlight .directive,
.bubaloop.highlight .number,
.bubaloop.highlight .boolean,
.bubaloop.highlight .string,

.bubaloop.highlight.javascript .variableName,
.bubaloop.highlight.javascript .functionName,
.bubaloop.highlight.javascript .argumentsDelimiter,
.bubaloop.highlight.javascript .argumentsSeparator,
.bubaloop.highlight.javascript .objectDelimiter,
.bubaloop.highlight.javascript .objectSeparator,
.bubaloop.highlight.javascript .objectProperty,
.bubaloop.highlight.javascript .objectMethod,
.bubaloop.highlight.javascript .propertyName,
.bubaloop.highlight.javascript .propertySeparator,
.bubaloop.highlight.javascript .arrayDelimiter,
.bubaloop.highlight.javascript .arraySeparator,
.bubaloop.highlight.javascript .statementSeparator,
.bubaloop.highlight.javascript .regex,
.bubaloop.highlight.javascript strong .comment, /* pq precisa disso? */
.bubaloop.highlight.javascript .null,
.bubaloop.highlight.javascript .undefined,

.bubaloop.highlight.html .doctype,
.bubaloop.highlight.html .tag,
.bubaloop.highlight.html .attribute,
.bubaloop.highlight.html .attributeValue,
.bubaloop.highlight.html .text,
.bubaloop.highlight.html .comment {

	opacity: 0.4;
}

/*.bubaloop.highlight.javascript .comment a,
.bubaloop.highlight.javascript strong .comment a,
.bubaloop.highlight.javascript .propertyName * {
	opacity: 1;
}*/

/* TODO usar versão dark do bubaloop para html */

/* highlight enhancer */

code {
	position: relative;
}

.highlightControls {
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity 500ms;
	opacity: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	/*width: 100px;
	height: 100px;*/
}

.highlightControls input {
	vertical-align: bottom;
}

.highlightControls input[type=checkbox] {
	margin-bottom: 3px;
}

.highlightControls label {
	padding-left: 5px;
}

code:hover .highlightControls {
	opacity: 1;
}






.tiposprimitivos table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
	min-width: 170px;
	border-collapse: collapse;
	white-space: nowrap;
	width: 180px;
}

.tiposprimitivos .codeblock:first-child table,
.tiposprimitivos .codeblock:nth-child(2) table,
.tiposprimitivos .codeblock:nth-child(3) table,
.tiposprimitivos .codeblock:first-child p,
.tiposprimitivos .codeblock:nth-child(2) p,
.tiposprimitivos .codeblock:nth-child(3) p {
	width: 225px;
}

.tiposprimitivos th {
	text-align: left;
}

.tiposprimitivos th:first-child,
.tiposprimitivos td:first-child {
	text-align: right;
	padding-right: 5px;
	padding-left: 0;
}

.tiposprimitivos th,
.tiposprimitivos td {
	border: 1px solid #EEEEEE;
	padding-left: 6px;
	font-size: 12px;
}

.tiposprimitivos .codeblock p {
	width: 180px;
}