<!DOCTYPE html>
<html
	xmlns='http://www.w3.org/1999/xhtml'
	lang='pt-BR'
	xml:lang='pt-br'
	>
<head>
	<title>Single page applications</title>
	<meta charset='utf-8' />
	<link rel='stylesheet' href='../../compartilhado/css/main.css' />
	<link rel='stylesheet' href='css/home.css' />
</head>
<body>



<h1>Single page applications <span>Angular, React, Vue and Web Assembly with C# + Blazor, Rust + Yew and Rust + Seed</span></h1>

<p>
	Rust has a few <a href='https://www.arewewebyet.org/topics/frameworks/#frontend'>spa frameworks</a>.
	I’m testing the two most popular ones.
</p>

<section class='indice'>

<h2 id='index'>Index</h2>
<nav id='indexList'>
</nav>

</section>



<section>

<h2 id='createaproject'>Create a project</h2>

<div class='comparison'>

<div class='codeblock'>
<p>Angular <abbr title='Command line interface'>CLI</abbr> - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://cli.angular.io'># https://cli.angular.io</a></span>
<span class='keyword'>npm</span> <span class='keyword'>install</span> <span class='parameter'>-g</span> @angular/cli
<span class='keyword'>ng</span> <span class='keyword'>new</span> spa-sample-project
<span class='comment lineComment'># will always use TypeScript and will ask you about router</span>
<span class='comment lineComment'># PWA support and NgRx (Redux like) must be added later</span>

<span class='keyword'>cd</span> spa-sample-project
<span class='keyword'>npm</span> <span class='keyword'>install</span>
<span class='keyword'>npm</span> <span class='keyword'>start</span> <span class='comment lineComment'># uses port 4200 by default</span></code
>
</div>

<div class='codeblock'>
<p>create-react-app - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://create-react-app.dev/docs/adding-typescript'># https://create-react-app.dev/docs/adding-typescript</a></span>
<span class='comment lineComment'># this template adds TypeScript, router and Redux</span>
<span class='keyword'>npx</span> <span class='keyword'>create-react-app</span> spa-sample-project <span class='parameter'>--template</span> typescript

<span class='comment lineComment'># or this template based on JavaScript, router and Redux</span>
<span class='keyword'>npx</span> <span class='keyword'>create-react-app</span> spa-sample-project <span class='parameter'>--template</span> redux

<span class='keyword'>cd</span> spa-sample-project
<span class='keyword'>npm</span> <span class='keyword'>install</span>
<span class='keyword'>npm</span> <span class='keyword'>start</span> <span class='comment lineComment'># uses port 3000 by default</span></code
>
</div>

<div class='codeblock'>
<p>Vue <abbr title='Command line interface'>CLI</abbr> - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://cli.vuejs.org'># https://cli.vuejs.org</a></span>
<span class='keyword'>npm</span> <span class='keyword'>install</span> <span class='parameter'>-g</span> @vue/cli @vue/cli-service-global

<span class='comment lineComment'># the command below should work for windows</span>
<span class='keyword'>vue</span> <span class='keyword'>create</span> spa-sample-project

<span class='comment lineComment'># but in my mac I had to use</span>
<span class='keyword'>env</span> CC=clang CXX=clang++ <span class='keyword'>vue</span> <span class='keyword'>create</span> spa-sample-project

<span class='comment lineComment'># then manually select features for adding TypeScript, router and Vuex (Redux like)</span>

<span class='keyword'>cd</span> create spa-sample-project
<span class='keyword'>npm</span> <span class='keyword'>install</span>
<span class='keyword'>npm</span> <span class='keyword'>run</span> serve <span class='comment lineComment'># uses port 8080 by default</span></code
>
</div>

<div class='codeblock'>
<p>Blazor (C#) - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://docs.microsoft.com/en-us/aspnet/core/blazor/tooling?view=aspnetcore-5.0'># https://docs.microsoft.com/en-us/aspnet/core/blazor/tooling?view=aspnetcore-5.0</a></span>
<span class='comment lineComment'># usually project creation through GUI, but the command line is</span>
<span class='keyword'>dotnet</span> <span class='keyword'>new</span> blazorwasm <span class='parameter'>-o</span> SpaSampleProject <span class='comment lineComment'># notice it is blazorWASM, NOT blazorSERVER</span>
<span class='comment lineComment'># no real Redux like support for now</span>

<span class='keyword'>cd</span> SpaSampleProject
<span class='keyword'>dotnet</span> <span class='keyword'>restore</span>
<span class='keyword'>dotnet</span> <span class='keyword'>watch</span> <span class='keyword'>run</span> <span class='comment lineComment'># uses port 5001 by default</span></code
>
</div>

<div class='codeblock'>

<p>Rust (Yew) - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://yew.rs/en'># https://yew.rs/en</a></span>
<span class='keyword'>cargo</span> <span class='keyword'>install</span> wasm-pack
<span class='keyword'>cargo</span> <span class='keyword'>install</span> cargo-make
<span class='comment lineComment'># optional</span>
<span class='keyword'>cargo</span> <span class='keyword'>install</span> simple-http-server
<span class='keyword'>cargo</span> <span class='keyword'>new</span> <span class='parameter'>--lib</span> spa_sample_project
<span class='keyword'>cd</span> spa_sample_project_yew</code
>

<p>Cargo.toml</p>
<code class='toml'
>[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
<strong>yew = "0.17"</strong>
wasm-bindgen = "0.2"</code
>


<p>Makefile.toml</p>
<code class='toml'
>[tasks.build]
command = "wasm-pack"
args = ["build", "--dev", "--target", "web", "--out-name", "wasm", "--out-dir", "./static"]
watch = { ignore_pattern = "static/*" }

[tasks.serve]
command = "simple-http-server"
args = ["-i", "./static/", "-p", "3000", "--nocache", "--try-file", "./static/index.html"]</code
>

<p>terminal (sh like)</p>
<code class='shell'
><span class='keyword'>cargo</span> <span class='keyword'>make</span> <span class='keyword'>build</span></code
>

</div>

<div class='codeblock'>

<p>Rust (Seed) - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://seed-rs.org'># https://seed-rs.org</a></span>
<span class='keyword'>cargo</span> <span class='keyword'>install</span> wasm-pack
<span class='keyword'>cargo</span> <span class='keyword'>install</span> cargo-make
<span class='comment lineComment'># optional</span>
<span class='keyword'>cargo</span> <span class='keyword'>install</span> simple-http-server
<span class='keyword'>cargo</span> <span class='keyword'>new</span> <span class='parameter'>--lib</span> spa_sample_project
<span class='keyword'>cd</span> spa_sample_project_seed</code
>

<p>Cargo.toml</p>
<code class='toml'
>[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
<strong>seed = "0.8.0"</strong>
wasm-bindgen = "0.2"</code
>


<p>Makefile.toml</p>
<code class='toml'
>[tasks.build]
command = "wasm-pack"
args = ["build", "--dev", "--target", "web", "--out-name", "wasm", "--out-dir", "./static"]
watch = { ignore_pattern = "static/*" }

[tasks.serve]
command = "simple-http-server"
args = ["-i", "./static/", "-p", "3000", "--nocache", "--try-file", "./static/index.html"]</code
>

<p>terminal (sh like)</p>
<code class='shell'
><span class='keyword'>cargo</span> <span class='keyword'>make</span> <span class='keyword'>build</span></code
>

</div>

</div>

<p>
	Angular, React, Vue and Blazor create git local repositories as part of their starting templates without asking you.
	<br />At the time of this writing, I'm using Node.js 15 (15.9.0 specifically) which is not LTS.
	For this Node.js version, Angular <abbr title='Command line interface'>CLI</abbr> complained about npm 7, and asked me to downgrade to npm 6.
	<br />The <code>redux-typescript</code> react template failed to install due to the TypeScript version being incompatible and I had to fallback to the original <code>typescript</code> template and manually configure Redux.
	<br />Vue 3 is still in beta.
	<br />And obviously Rust Yew and Seed are still a long way to go when it comes to project templates.
</p>

<p>
	The size of these projects is what always turned me down.
	They’re massive with a <strong>huge amount of files</strong>.
</p>

<table>
	<thead>
		<tr>
			<th></th>
			<th scope='col'>Angular 11.2.1</th>
			<th scope='col'>React 17.0.1 TypeScript</th>
			<th scope='col'>React 17.0.1 JavaScript</th>
			<th scope='col'>Vue 3.0.0 TypeScript</th>
			<th scope='col'>Vue 3.0.0 JavaScript</th>
			<th scope='col'>C# Blazor</th>
			<th scope='col'>Rust Yew</th>
			<th scope='col'>Rust Seed</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope='row'>source + libraries</th>
			<td>448.2MB</td>
			<td>219.1MB+</td>
			<td>237.9MB</td>
			<td>493.2MB</td>
			<td>120.1MB</td>
			<td>48.6MB</td>
			<td>633.2MB</td>
			<td></td>
		</tr>
		<tr>
			<th scope='row'>compiled</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th scope='row'>initial page load</th>
			<td>2.88MB</td>
			<td>1.65MB+</td>
			<td>1.94MB</td>
			<td>2.80MB</td>
			<td>2.33MB</td>
			<td>0.52MB</td>
			<td>0.223MB</td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan='9'></td>
		</tr>
	</tfoot>
</table>

</section>



<section>

<h2 id='installdependencies'>Install remaining dependencies</h2>

<div class='comparison'>

<div class='codeblock'>
<p>Angular <abbr title='Command line interface'>CLI</abbr> - terminal (sh like)</p>
<code class='shell'
><span class='comment lineComment'><a href='https://angular.io/cli/add'># https://angular.io/cli/add</a></span>

<span class='comment lineComment'><a href='https://angular.io/guide/service-worker-getting-started'># https://angular.io/guide/service-worker-getting-started</a></span>
<span class='keyword'>ng</span> <span class='keyword'>add</span> @angular/pwa

<span class='comment lineComment'><a href='https://ngrx.io/guide/store/install'># https://ngrx.io/guide/store/install</a></span>
<span class='keyword'>ng</span> <span class='keyword'>add</span> @ngrx/store@latest <span class='parameter'>--minimal</span> false</code
>
</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>React JavaScript</p>
<code class='shell'
><span class='comment lineComment'><a href='https://reactrouter.com/web/guides/quick-start'># https://reactrouter.com/web/guides/quick-start</a></span>
<span class='keyword'>npm</span> <span class='keyword'>install</span> react-router-dom</code
>
</div>

<div class='codeblock'>
<p>Vue TypeScript</p>
-
</div>

<div class='codeblock'>
<p>Vue JavaScript</p>
-
</div>

<div class='codeblock'>
<p>Blazor</p>
-
</div>

<div class='codeblock'>
<p>Rust</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	Not sure why Angular doesn’t provide <abbr title='Progressive Web App'>PWA</abbr> support out of the box.
	<br />Redux + TypeScript template for React will probably get fixed eventually.
	Nevertheless, it is interesting to know that Redux is not providing TypeScript support at the same level as JavaScript.
</p>

</section>



<section>

<h2 id='createamodule'>Create a module</h2>

<div class='comparison'>

<div class='codeblock'>
<p>Angular <abbr title='Command line interface'>CLI</abbr></p>
<code class='shell'
><span class='comment lineComment'><a href='https://angular.io/guide/lazy-loading-ngmodules'># https://angular.io/guide/lazy-loading-ngmodules</a></span>
<span class='comment lineComment'># this will create a languages.module.ts where we can declare our components</span>
<span class='comment lineComment'># and add an entry for the module in the routes table</span>

<span class='keyword'>ng</span> <span class='keyword'>generate</span> <span class='keyword'>module</span> languages <span class='parameter'>--route</span> languages <span class='parameter'>--module</span> app.module</code
>

<p>app-routing.module.ts</p>
<code class='javascript'
><strong>// this will be added automatically</strong>
const routes:Routes = [{
	<strong>// here we map the path to a module</strong>
	<strong class='small'>path: 'languages',</strong>
	<strong>// lazy loading using the import().then() async function</strong>
	loadChildren: () => <strong class='small'>import(</strong>'./languages/languages.module'<strong>)</strong>
		<strong>.then(</strong> => m.LanguagesModule<strong>)</strong>
}];</code
>

<p>languages-routing.module.ts</p>
<code class='javascript'
><strong>// this will be created automatically</strong>
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { LanguagesComponent } from './languages.component';

const routes: Routes = [
	<strong>// and here we map the path to a component which we will create later</strong>
	<strong class='small'>{ path: '', component: LanguagesComponent }</strong>
];

@NgModule({
	imports: [RouterModule.forChild(routes)],
	exports: [RouterModule]
})
export class LanguagesRoutingModule { }</code
>
</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>

<p>React JavaScript</p>
<code class='shell'
><span class='comment lineComment'><a href='https://reactjs.org/docs/code-splitting.html'># https://reactjs.org/docs/code-splitting.html</a></span>
<span class='keyword'>cd</span> src/features
<span class='keyword'>mkdir</span> languages
<span class='keyword'>touch</span> ./languages/Languages.jsx</code
>

<p>index.jsx</p>
<code class='javascript'
>import React from 'react';
import ReactDOM from 'react-dom';
import App from './App';
import store from './app/store';
import { Provider } from 'react-redux';

<strong>import { BrowserRouter as Router, Route } from 'react-router-dom';</strong>

ReactDOM.render(
	&lt;React.StrictMode&gt;
		&lt;Provider store={store}&gt;
			<strong>&lt;Router&gt;</strong>
				<strong>&lt;Route path='/'&gt;</strong>
					&lt;App /&gt;
				<strong>&lt;/Route&gt;</strong>
			<strong>&lt;/Router&gt;</strong>
		&lt;/Provider&gt;
	&lt;/React.StrictMode&gt;,
	document.getElementById('root')
);</code
>

<p>App.jsx</p>
<code class='javascript'
><strong>// lazy loading using the lazy(import()) async functions</strong>
import React, { lazy, Suspense } from 'react';
import { Switch, Route, Link } from 'react-router-dom';

const Languages = <strong>lazy(</strong>() => <strong>import(</strong>'./features/languages/Languages'<strong>));</strong>

function App() {
	return (
		&lt;&gt;
			{<strong>/*</strong>
			<strong class='comment'><span class='comment blockComment'>routes are declarative</span></strong>
			<strong class='comment'><span class='comment blockComment'>also notice how simple it is to provide alternate content</span></strong>
			<strong class='comment'><span class='comment blockComment'>while a module is loading</span></strong>
			<strong class='comment'><span class='comment blockComment'>*/</span></strong>}
			<strong>&lt;Suspense fallback={&lt;div&gt;Loading...&lt;/div&gt;}&gt;</strong>
				<strong>&lt;Switch&gt;</strong>
					<strong class='small'>&lt;Route path={'/languages'}&gt;</strong>
						{<strong>/* here we add a component for this route, which we will create later */</strong>}
						<strong class='small'>&lt;Languages /&gt;</strong>
					<strong>&lt;/Route&gt;</strong>
				<strong>&lt;/Switch&gt;</strong>
			<strong>&lt;/Suspense&gt;</strong>
		&lt;/&gt;
	)
}

export default App;</code
>

</div>

<div class='codeblock'>
<p>Vue TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>

<p>Vue JavaScript</p>
<code class='shell'
><span class='comment lineComment'><a href='https://router.vuejs.org/guide/advanced/lazy-loading.html'># https://router.vuejs.org/guide/advanced/lazy-loading.html</a></span>
<span class='keyword'>mkdir</span> ./src/languages
<span class='keyword'>mkdir</span> ./src/languages/components
<span class='keyword'>touch</span> ./src/languages/components/Languages.vue</code
>

<p>router/index.js</p>
<code class='javascript'
>import { createRouter, createWebHistory } from 'vue-router'

const routes = [
	{
		<strong>// here we map the path to a component which we will create later</strong>
		<strong class='small'>path: '/languages',</strong>
		name: 'Languages',
		<strong>// lazy loading using the import() async function</strong>
		component: () => <strong class='small'>import(</strong>
			/* webpackChunkName: "languages" */
			'../languages/components/Languages.vue'
		<strong>)</strong>
	}
]

const router = createRouter({
	history: createWebHistory(process.env.BASE_URL),
	routes
})

export default router</code
>

</div>


<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	A
</p>

</section>



<section>

<h2 id='createaservice'>Create a service</h2>

<div class='comparison'>

<div class='codeblock'>

<p>Angular <abbr title='Command line interface'>CLI</abbr></p>
<code class='shell'
><span class='comment lineComment'><a href='https://angular.io/cli/generate'># https://angular.io/cli/generate</a></span>
<span class='keyword'>ng</span> <span class='keyword'>generate</span> <span class='keyword'>class</span> languages/entities/timelineEntry <span class='parameter'>--type</span> entity
<span class='keyword'>ng</span> <span class='keyword'>generate</span> <span class='keyword'>service</span> languages/services/timelineSorter</code
>

<p>timeline-entry.entity.ts</p>
<code class='javascript'
>export default class TimelineEntryEntity {
	name:string = '';
	date:number = 0;
}</code
>

<p>timeline-sorter.service.ts</p>
<code class='javascript'
>import { Injectable } from '@angular/core';
import TimelineEntryEntity from '../entities/timeline-entry.entity';

// requires a class decorated with @Injectable
// to use dependency injection
@Injectable({
	providedIn: 'root'
})
export default class TimelineSorterService {

	constructor() {
		//
	}

	numberSorter(a:TimelineEntryEntity, b:TimelineEntryEntity):number {
		return a.date - b.date;
	}

	stringSorter(a:TimelineEntryEntity, b:TimelineEntryEntity):number {

		const nameA = a.name.toUpperCase();
		const nameB = b.name.toUpperCase();
		if (nameA &lt; nameB) {
			return -1;
		}
		if (nameA &gt; nameB) {
			return 1;
		}

		return 0;

	}

}</code
>

</div>

<div class='codeblock'>

<p>React TypeScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/features/languages
<span class='keyword'>mkdir</span> entities
<span class='keyword'>mkdir</span> services
<span class='keyword'>touch</span> ./entities/TimelineEntryEntity.ts
<span class='keyword'>touch</span> ./services/TimelineSorterServices.ts</code
>

<p>TimelineEntryEntity.ts</p>
<code class='javascript'
>export default class TimelineEntryEntity {
	name:string = '';
	date:number = 0;
}</code
>

<p>TimelineSorterServices.ts</p>
<code class='javascript'
></code
>

</div>

<div class='codeblock'>

<p>React JavaScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/languages
<span class='keyword'>mkdir</span> services
<span class='keyword'>touch</span> ./services/TimelineSorterServices.js</code
>

<p>TimelineSorterServices.js</p>
<code class='javascript'
>export function numberSorterService(a, b) {
	return a.date - b.date;
}

export function stringSorterService(a, b) {

	const nameA = a.name.toUpperCase();
	const nameB = b.name.toUpperCase();
	if (nameA &lt; nameB) {
		return -1;
	}
	if (nameA &gt; nameB) {
		return 1;
	}

	return 0;

}</code
>

</div>

<div class='codeblock'>

<p>Vue TypeScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/languages
<span class='keyword'>mkdir</span> entities
<span class='keyword'>mkdir</span> services
<span class='keyword'>touch</span> ./entities/TimelineEntryEntity.ts
<span class='keyword'>touch</span> ./services/TimelineSorterServices.js</code
>

<p>timeline-entry.entity.ts</p>
<code class='javascript'
>export default class TimelineEntryEntity {
	name:string = '';
	date:number = 0;
}</code
>

<p>TimelineSorterServices.ts</p>
<code class='javascript'
></code
>

</div>

<div class='codeblock'>

<p>Vue JavaScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/languages
<span class='keyword'>mkdir</span> services
<span class='keyword'>touch</span> ./services/TimelineSorterServices.js</code
>

<p>TimelineSorterServices.js</p>
<code class='javascript'
>export function numberSorterService(a, b) {
	return a.date - b.date;
}

export function stringSorterService(a, b) {

	const nameA = a.name.toUpperCase();
	const nameB = b.name.toUpperCase();
	if (nameA &lt; nameB) {
		return -1;
	}
	if (nameA &gt; nameB) {
		return 1;
	}

	return 0;

}</code
>

</div>

<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	A
</p>

</section>



<section>

<h2 id='createacomponent'>Create a component</h2>

<div class='comparison'>

<div class='codeblock'>

<p>Angular <abbr title='Command line interface'>CLI</abbr></p>
<code class='shell'
><span class='comment lineComment'><a href='https://angular.io/cli/generate'># https://angular.io/cli/generate</a></span>
<span class='keyword'>ng</span> <span class='keyword'>generate</span> <span class='keyword'>component</span> timeline <span class='parameter'>--module</span> languages</code
>

<p>timeline.component.ts</p>
<code class='javascript'
>import { Component, Input, OnInit } from '@angular/core';
import TimelineEntryEntity from '../../entities/timeline-entry.entity';
import TimelineSorterService from '../../services/timeline-sorter.service';

// components classes must be decorated with @Component
// provide a markup tag name that uses this class
// and separated files for template and style
// or inline strings equivalents
// template: '<div>...</div>' and styles: ['div {...}', 'p {...}']
@Component({
	selector: 'timeline',
	templateUrl: './timeline.component.html',
	styleUrls: ['./timeline.component.scss']
})
export class TimelineComponent implements OnInit {

	// component markup attributes must be decorated with @Input
	@Input() title:string = 'Timeline';

	// for getter and setters, only one of the pair is decorated
	@Input()
	get entries():Array&lt;TimelineEntryEntity&gt; { return this._entries; }

	set entries(entries:Array&lt;TimelineEntryEntity&gt;) {

		let sortedEntries:Array&lt;TimelineEntryEntity&gt; = [];

		switch (this.sortBy) {
			case 'name':
				sortedEntries = entries.sort(this.timelineSorterService.stringSorter);
				break;
			case 'date':
				sortedEntries = entries.sort(this.timelineSorterService.numberSorter);
				break;
			default:
				sortedEntries = entries;
				break;
		}

		this._entries = sortedEntries;

	}

	@Input() sortBy:string = 'year';

	private _entries:Array&lt;TimelineEntryEntity&gt; = []

	constructor(
		// while this is a TypeScript shortcut to define a inputProperty
		// Angular highjacked it for dependency injection
		private timelineSorterService:TimelineSorterService
		) {

	}

	// ngOnInit is part of the OnInit interface, for components lifecycle events
	ngOnInit(): void {
	}

}</code
>

<p>timeline.component.html</p>
<code class='html'
>&lt;!--
&lt;ng-container&gt; is a container tag that will not generate
any html tag in the final rendering
--&gt;
&lt;ng-container&gt;
	&lt;!--
	Angular has three differet binding syntaxes
	{{inputProperty}} is for binding @Input properties inside text nodes
	[inputProperty] is for binding @Input properties in attributes
	and (observable) is for binding @Output events also in attributes
	--&gt;
	&lt;h2&gt;{{ title }}&lt;/h2&gt;
	&lt;!--
	*ng... are structural directives, they may change the DOM tree,
	adding or removing elements. Structural directives always begin
	with * and have additional options
	<a href='https://angular.io/api/common/NgIf'>https://angular.io/api/common/NgIf</a>
	<a href='https://angular.io/api/common/NgForOf'>https://angular.io/api/common/NgForOf</a>
	--&gt;
	&lt;ul *ngIf='entries'&gt;
		&lt;li *ngFor='let entry of entries'&gt;
			&lt;!-- routerLink is used for internal links --&gt;
			&lt;a [routerLink]='entry.name'&gt;
				{{ entry.name }} - {{ entry.year }}
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/ng-container&gt;</code
>
</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>

<p>React JavaScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/features/languages
<span class='keyword'>mkdir</span> components
<span class='keyword'>touch</span> ./components/Timeline.jsx</code
>

<p>Timeline.jsx</p>
<code class='javascript'
>import { numberSorterService, stringSorterService } from '../services/TimelineSorterServices';

// component markup attributes are passed in the props parameter
// The class name is the markup tag name
export default function Timeline(props) {

	let title = 'Timeline';

	let _entries = [];

	let sortBy = 'year';

	function setEntries(entries) {

		let sortedEntries = [];

		switch (sortBy) {
			case 'name':
				sortedEntries = entries.sort(stringSorterService);
				break;
			case 'date':
				sortedEntries = entries.sort(numberSorterService);
				break;
			default:
				sortedEntries = entries;
				break;
		}

		_entries = sortedEntries;

	}

	setEntries(props.entries);

	// React uses a file type called JSX, that mixes JavaScript/TypeScript with markup
	// It is not the same as HTML and we can interpolate scripts in the markup inside {}
	// so comments for instance, must be added with {/*  */} instead of &lt;!-- --&gt;

	// &lt;&gt; is a shortcut for &lt;React.Fragment&gt; <a href='https://reactjs.org/docs/fragments.html'>https://reactjs.org/docs/fragments.html</a>
	// It is a container tag that will not generate any html tag in the final rendering
	// JSX requires you to return only a sinqle node from a component function, so these
	// will come in handy
	return (
		&lt;&gt;
			{/* Binding in JSX is done with the sintax {variable} */}
			&lt;h2&gt;{title}&lt;/h2&gt;
			{/*
			Adding or removing elements is done by mixing JavaScript with markup
			<a href='https://reactjs.org/docs/conditional-rendering.html'>https://reactjs.org/docs/conditional-rendering.html</a>
			<a href='https://reactjs.org/docs/lists-and-keys.html'>https://reactjs.org/docs/lists-and-keys.html</a>
			*/}
			{ _entries.length &gt; 0 &&
				&lt;ul&gt;
					{ _entries.map((entry) =&gt;
						&lt;li key={entry.name}&gt;{/* Each item in a loop must have an unique key */}
							{/* Link is used for internal links */}
							&lt;Link to={`languages/${entry.name}`}&gt;{entry.name} - {entry.year}&lt;/Link&gt;
						&lt;/li&gt;
					)}
				&lt;/ul&gt;
			}
		&lt;/&gt;
	);

}</code
>

</div>

<div class='codeblock'>
<p>Vue TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Vue JavaScript</p>
<code class='shell'
><span class='keyword'>cd</span> src/languages
<span class='keyword'>touch</span> ./languages/Timeline.vue
<span class='keyword'>touch</span> ./languages/Timeline.js</code
>

<p>Timeline.js</p>
<code class='javascript'
>import { stringSorterService, numberSorterService } from '../services/TimelineSorterServices'

// https://v3.vuejs.org/guide/single-file-component.html
// to use a proper class, a TypeScript project is required
export default {

	name: 'Timeline',
	// inheritAttrs: false,

	props: {
		title: {
			required: false,
			type: String,
			default: 'Timeline'
		},
		entries: Array,
		sortBy: {
			required: false,
			type: String,
			default: 'year'
		}
	},

	computed: {

		sortedEntries: {

			get() {

				// creating a setter for this setter throws an error!
				// So the sorting logic needs to be called on the getter 🤮

				let sortedEntriesTemp = [];

				switch (this.sortBy) {
					case 'name':
						sortedEntriesTemp = this.entries.sort(stringSorterService);
						break;
					case 'year':
						sortedEntriesTemp = this.entries.sort(numberSorterService);
						break;
					default:
						sortedEntriesTemp = this.entries;
						break;
				}

				return sortedEntriesTemp;

			}

		}

	},

	methods: {

		hasEntries() {
			return this.entries;
		}

	}

}</code
>

<p>Timeline.vue</p>
<code class='html'
>&lt;!-- &lt;template&gt; is a container tag for the markup --&gt;
&lt;template&gt;
	&lt;!--
	Vue has three differet binding syntaxes
	{{property}} is for binding properties inside text nodes
	:property is for binding properties in attributes
	and @event is for binding events also in attributes
	There are longer alternate syntaxes, but why would you
	want to use them?
	--&gt;
	&lt;h2&gt;{{ title }}&lt;/h2&gt;
	&lt;!--
	Adding or removing elements is done with directives
	such as v-if and v-for.
	<a href='https://v3.vuejs.org/guide/conditional.html'>https://v3.vuejs.org/guide/conditional.html</a>
	<a href='https://v3.vuejs.org/guide/list.html'>https://v3.vuejs.org/guide/list.html</a>
	--&gt;
	&lt;ul v-if='hasEntries()'&gt;
		&lt;!--
		we need to use a separate getter 'sortedEntries'
		for the sorting to work
		--&gt;
		&lt;li v-for='entry in sortedEntries' :key='entry.name'&gt;
			&lt;!-- router-link is used for internal links --&gt;
			&lt;router-link :to='entry.name'&gt;
				{{ entry.name }} - {{ entry.year }}
			&lt;/router-link&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/template&gt;

&lt;!--
Vue documentation usually puts everything in a single file
But at least they did not forbid us from separating them
like this
--&gt;
&lt;script src='./Timeline.js'&gt;&lt;/script&gt;</code
>

</div>

<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	A
</p>

</section>



<section>

<h2 id='useacomponent'>Use a component</h2>

<div class='comparison'>

<div class='codeblock'>

<p>languages.module.ts</p>
<code class='javascript'
><strong>// this will be created automatically</strong>
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { LanguagesRoutingModule } from './languages-routing.module';

<strong>// this will be added automatically</strong>
<strong>// import components</strong>
<strong class='small'>import { LanguagesComponent } from './components/languages.component';</strong>
<strong>import { TimelineComponent } from './components/timeline/timeline.component';</strong>

<strong>// this will be added automatically</strong>
<strong>// declare components in the module scope</strong>
@NgModule({
	<strong>declarations: [</strong>
		<strong>LanguagesComponent,</strong>
		<strong>TimelineComponent</strong>
	<strong>],</strong>
	imports: [
		CommonModule,
		LanguagesRoutingModule
	]
})
export class LanguagesModule { }</code
>

<p>languages.component.ts</p>
<code class='javascript'
>import { Component, OnInit } from '@angular/core';
import { Title } from '@angular/platform-browser';

@Component({
	selector: 'app-languages',
	templateUrl: './languages.component.html',
	styleUrls: ['./languages.component.scss']
})
export class LanguagesComponent implements OnInit {

	timelineTitle:string = 'Programming languages';

	timelineEntries:Array&lt;{ name: string; year:number }&gt; = [
		{ name: 'Fortran', year: 1957 },
		{ name: 'Lisp', year: 1958 },
		{ name: 'Algol', year: 1958 },
		{ name: 'Cobol', year: 1959 },
		{ name: 'Simula', year: 1962 },
		{ name: 'Basic', year: 1964 },
		{ name: 'Pascal', year: 1970 },
		{ name: 'C', year: 1972 },
		{ name: 'Smalltalk 72', year: 1972 },
		{ name: 'Ada', year: 1980 },
		{ name: 'Smalltalk 80', year: 1980 },
		{ name: 'Objective-C', year: 1984 },
		{ name: 'C++', year: 1985 },
		{ name: 'Object Pascal', year: 1986 },
		{ name: 'Erlang', year: 1986 },
		{ name: 'Python', year: 1990 },
		{ name: 'Haskell', year: 1990 },
		{ name: 'Java', year: 1995 },
		{ name: 'JavaScript', year: 1995 },
		{ name: 'Php', year: 1995 },
		{ name: 'Ruby', year: 1995 },
		{ name: 'ActionScript', year: 1998 },
		{ name: 'Visual Basic 6', year: 1998 },
		{ name: 'C#', year: 2000 },
		{ name: 'F#', year: 2005 },
		{ name: 'Go', year: 2009 },
		{ name: 'Rust', year: 2010 },
		{ name: 'Kotlin', year: 2011 },
		{ name: 'Dart', year: 2011 },
		{ name: 'TypeScript', year: 2012 },
		{ name: 'Swift', year: 2014 }
	];

	constructor(private titleService: Title) {
	}

	ngOnInit(): void {
		// Angular has a dedicated service for changing the browser title
		// allegedly to prevent issues if running angular as a native app
		// for instance
		this.titleService.setTitle('Languages');
	}

}</code
>

<p>languages.component.html</p>
<code class='html'
>&lt;!-- use the tag without the “app-” prefix --&gt;
&lt;timeline
	[title]='timelineTitle'
	[entries]='timelineEntries'
	sortBy='name'
	&gt;&lt;/timeline
&gt;</code
>

</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>React JavaScript</p>
<code class='javascript'
>import React, { useEffect } from 'react';

// import the component
import Timeline from './components/Timeline';

export default function Languages() {

	let timelineTitle = 'Programming languages';

	let timelineEntries = [
		{ name: 'Fortran', year: 1957 },
		{ name: 'Lisp', year: 1958 },
		{ name: 'Algol', year: 1958 },
		{ name: 'Cobol', year: 1959 },
		{ name: 'Simula', year: 1962 },
		{ name: 'Basic', year: 1964 },
		{ name: 'Pascal', year: 1970 },
		{ name: 'C', year: 1972 },
		{ name: 'Smalltalk 72', year: 1972 },
		{ name: 'Ada', year: 1980 },
		{ name: 'Smalltalk 80', year: 1980 },
		{ name: 'Objective-C', year: 1984 },
		{ name: 'C++', year: 1985 },
		{ name: 'Object Pascal', year: 1986 },
		{ name: 'Erlang', year: 1986 },
		{ name: 'Python', year: 1990 },
		{ name: 'Haskell', year: 1990 },
		{ name: 'Java', year: 1995 },
		{ name: 'JavaScript', year: 1995 },
		{ name: 'Php', year: 1995 },
		{ name: 'Ruby', year: 1995 },
		{ name: 'ActionScript', year: 1998 },
		{ name: 'Visual Basic 6', year: 1998 },
		{ name: 'C#', year: 2000 },
		{ name: 'F#', year: 2005 },
		{ name: 'Go', year: 2009 },
		{ name: 'Rust', year: 2010 },
		{ name: 'Kotlin', year: 2011 },
		{ name: 'Dart', year: 2011 },
		{ name: 'TypeScript', year: 2012 },
		{ name: 'Swift', year: 2014 }
	];

	// component rendering side effects use the useEffect() function
	// it cannot be placed inside an if (must always be called),
	// but you can still put the if inside the callback if you need to
	useEffect(() =&gt; {
		document.title = 'Languages';
	});

	// use the tag according to the class name
	return (
		&lt;Timeline
			title={timelineTitle}
			entries={timelineEntries}
			sortBy='name'
			&gt;&lt;/Timeline
		&gt;
	);

}</code
>
</div>

<div class='codeblock'>

<p>Languages.ts</p>
<code class='javascript'
></code
>

<p>Languages.vue</p>
<code class='html'
></code
>

</div>

<div class='codeblock'>

<p>Languages.js</p>
<code class='javascript'
>// import the component,
// even though we will not reference it from JavaScript!
import Timeline from './Timeline.vue'

export default {
	name: 'Languages',
	components: {
		Timeline
	},
	data() {
		return {
			timelineTitle: 'Programming languages',
			timelineEntries: [
				{ name: 'Fortran', year: 1957 },
				{ name: 'Lisp', year: 1958 },
				{ name: 'Algol', year: 1958 },
				{ name: 'Cobol', year: 1959 },
				{ name: 'Simula', year: 1962 },
				{ name: 'Basic', year: 1964 },
				{ name: 'Pascal', year: 1970 },
				{ name: 'C', year: 1972 },
				{ name: 'Smalltalk 72', year: 1972 },
				{ name: 'Ada', year: 1980 },
				{ name: 'Smalltalk 80', year: 1980 },
				{ name: 'Objective-C', year: 1984 },
				{ name: 'C++', year: 1985 },
				{ name: 'Object Pascal', year: 1986 },
				{ name: 'Erlang', year: 1986 },
				{ name: 'Python', year: 1990 },
				{ name: 'Haskell', year: 1990 },
				{ name: 'Java', year: 1995 },
				{ name: 'JavaScript', year: 1995 },
				{ name: 'Php', year: 1995 },
				{ name: 'Ruby', year: 1995 },
				{ name: 'ActionScript', year: 1998 },
				{ name: 'Visual Basic 6', year: 1998 },
				{ name: 'C#', year: 2000 },
				{ name: 'F#', year: 2005 },
				{ name: 'Go', year: 2009 },
				{ name: 'Rust', year: 2010 },
				{ name: 'Kotlin', year: 2011 },
				{ name: 'Dart', year: 2011 },
				{ name: 'TypeScript', year: 2012 },
				{ name: 'Swift', year: 2014 }
			]
		}
	}
}</code
>

<p>Languages.vue</p>
<code class='html'
>&lt;template&gt;
	&lt;Timeline
		:title='timelineTitle'
		:entries='timelineEntries'
		sortBy='name'
	/&gt;
&lt;/template&gt;

&lt;script src='./Languages.js'&gt;&lt;/script&gt;</code
>

</div>

<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	Angular cleanly separates concers here, and the boilerplate parts of configuring the dependencies in the module are done automatically by the CLI.
</p>

<p>
	React is pretty clean and straightforward in this simple example, but again, putting both the logic and the view in a single file proves to be hard to manage when your code grows.
	Separating the rendering portion is not a common practice in React, and would mean more varibles passing in function calls.
</p>

<p>
	Vue seems to make things more confusing.
	Custom tags centric frameworks such as .Net Web Forms or JSP imported new tags in the markup if needed, which is were they would be used anyway.
	But Vue moves this to the code portion, where there’s no mention of it.
	To make matters worse, the .vue file lists the markup first, and the code later.
	Maybe we can change the order, but that is not what the examples in the official documentation do.
	This makes a tiny more sense if everything is crammed up in a single file, but again, I don’t believe that is a good practice either.
</p>

</section>



<section>

<h2 id='statemanagement'>Use state management (redux)</h2>

<div class='comparison'>

<div class='codeblock'>
<p>Angular <abbr title='Command line interface'>CLI</abbr></p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>

<p>React JavaScript</p>
<code class='shell'
></code
>

</div>

<div class='codeblock'>
<p>Vue TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Vue JavaScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	A
</p>

</section>



<!--
<section>

<h2 id=''>A</h2>

<div class='comparison'>

<div class='codeblock'>
<p>Angular <abbr title='Command line interface'>CLI</abbr></p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>React TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>React JavaScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Vue TypeScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Vue JavaScript</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Blazor (C#)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Yew)</p>
<code class='shell'
></code
>
</div>

<div class='codeblock'>
<p>Rust (Seed)</p>
<code class='shell'
></code
>
</div>

</div>

<p>
	A
</p>

</section>
-->



<script type='module' src='../../compartilhado/js/utils.js'></script>
<script type='module' src='../../compartilhado/js/index.js'></script>
<script type='module' src='../../compartilhado/js/highlighter.js'></script>
<script type='module' src='../../compartilhado/js/highlightEnhancer.js'></script>
<script type='module' src='js/home.js'></script>

</body>
</html>