@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

@font-face{
	font-family: 'JetBrains Mono';
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Code';
	src: url('../fontes/code_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Code';
	src: url('../fontes/code_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

:root {

	--background-light-color: hsl(209, 100%, 99%);
	--background-dark-color: #2E2F31;

	--foreground-light-color: #505B66;
	--foreground-dark-color: #B6C2D3;

	--punctuation-light-color: #7F8EA3;
	--punctuation-dark-color: #788598;

	--comments-light-color: #accad0;
	--comments-dark-color: #B80068; /* TODO */

	--keywords-light-color: hsl(183, 100%, 45%);/*#0040B4;*/
	--keywords-dark-color: #0076E6;

	--boolean-light-color: #0040B4;
	--boolean-dark-color: #0076E6;

	--numbers-light-color: #006e70;
	--numbers-dark-color: #0076E6;

	--number-details-light-color: #89B7ED;
	--number-details-dark-color: #89B7ED; /* TODO */

	--strings-light-color: #9c004d;
	--strings-dark-color: #00A6FF;

	--i18n-light-color: #BDD7EE;
	--i18n-dark-color: #BDD7EE; /* TODO */

	--chars-light-color: #0076E6;
	--chars-dark-color: #0077FF; /* TODO */

	--types-light-color: #00a6b9;/*#8AD100;*/
	--types-dark-color: #91E500;

	--type-details-light-color: #C5E0B3;
	--type-details-dark-color: #C5E0B3; /* TODO */

	--attributes-light-color: #7F8EA3;
	--attributes-dark-color: #788598;

	--labels-light-color: #8D00FF;
	--labels-dark-color: #8D00FF; /* TODO */

	/*
	#505B66 used for dark directives?
	*/

	--shell-parameters-light-color: #8AD100;
	--shell-parameters-dark-color: #91E500;

	--highlight-light-color: hsl(183, 100%, 45%);/*hsl(195, 100%, 50%);*/
	--highlight-dark-color: hsl(201, 100%, 43%);

	--highlight-comments-light-color: #9E006F;
	--highlight-comments-dark-color: #9E006F;

	--highlight-keywords-light-color: hsl(195, 100%, 50%);
	--highlight-keywords-dark-color: hsl(210, 100%, 25%);

}

html * {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	padding: 20px;
	color: var(--foreground-light-color);
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--foreground-dark-color);
		background-color: #000000;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Code, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 68px;
	margin-bottom: 20px;
}

h1 span {
	font-size: 30px;
	line-height: 32px;
	display: block;
}

h2 {
	font-size: 45px;
	line-height: 50px;
	margin-top: 70px;
	margin-bottom: 35px;
}

h2 span {
	font-size: 25px;
	display: block;
}

h3 {
	font-size: 23px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 20px;
}

h3 span {
	font-size: 16px;
	display: block;
}

h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	margin-bottom: 20px;
}

ul,
ol {
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

dt {
	font-weight: bold;
	margin-top: 6px;
}

th,
td {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

th[scope=row] {
	text-align: right;
}

blockquote {
	font-size: 13px;
	margin: 20px;
}

a {
	color: var(--comments-light-color);
}

@media (prefers-color-scheme: dark) {
	a {
		color: var(--comments-dark-color);
	}
}

.shortcut {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: inline-block;
	margin: 4px;
	padding: 8px;
	padding-top: 5px;
	border: 1px solid #cecece;
	min-width: 20px;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	font-size: 16px;
}

code {
	font-family: 'JetBrains Mono', 'Fira Code', Consolas, 'SF Mono', Menlo, 'Courier New', Courier;
	white-space: pre;
	overflow-x: auto;
}

code strong,
code strong * {
	font-weight: normal;
}

code > a {
	color: inherit;
	text-decoration: none;
}

code > a:hover {
	text-decoration: underline;
}

div code {
	display: block;
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 19px;
	-moz-tab-size: 4;
	tab-size: 4;

	hyphens: none;
	counter-reset: linenumber;
}

div .multipart {
	margin-bottom: 0;
	padding-bottom: 0;
}

div .multipart + code {
	margin-top: 0;
	padding-top: 35px;
}

.codeblock p {
	white-space: nowrap;
}

.comparison {
	display: flex;
}

.comparison .codeblock {
	margin-right: 10px;
}

.comparison.large .codeblock {
	margin-right: 70px;
}

.comparison .codeblock:last-child {
	margin-right: 0;
}

.pair {
	display: flex;
}

.pair > div:first-child {
	margin-right: 10px;
}

/* TODO */

code .line {
	/*pointer-events: none;
	display: block;*/
	counter-increment: linenumber;
}

code .line:before {
	content: counter(linenumber);
	/*color: #999;
	display: block;
	padding-right: .8em;
	text-align: right*/
}

/*.terminal {
	white-space: normal;
}*/

code .toggle {
	display: none; /* melhorar isso depois */
}

/* TODO implementar em javascript */

/*.noRust .codeblock.rust {
	display: none;
}

.noCpp .codeblock.cpp {
	display: none;
}

.noObjectiveC .codeblock.objectivec {
	display: none;
}

.noSwift .codeblock.swift {
	display: none;
}

.noKotlin .codeblock.kotlin {
	display: none;
}

.noJava .codeblock.java {
	display: none;
}

.noCs .codeblock.cs {
	display: none;
}

.noJavascript .codeblock.javascript {
	display: none;
}

.noVisualbasic .codeblock.visualbasic {
	display: none;
}*/

#indice .active {
	font-weight: bold;
}

div.codeblock.bubaloop {
	color: var(--foreground-light-color);
	background-color: var(--background-light-color);
	background-image: url(../imagens/fundoBubaloop.png);
	background-position: left top;
	background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
	div.codeblock.bubaloop {
		color: var(--foreground-dark-color);
		background-color: var(--background-dark-color);
		background-image: url(../imagens/fundoBubaloop.png);
	}
}

div.codeblock.bubaloop p {
	margin-bottom: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 3px;
	font-weight: bold;
	color: #00BFB9;
	border-bottom: 1px solid #ffffff;
	background-color: #DBE1ED;
	background-image: url(../imagens/fundoBubaloop.png);
	background-position: left top;
	background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
	div.codeblock.bubaloop p {
		border-bottom-color: #444444;
		border-right-color: var(--highlight-comments-dark-color);
	}
}

div.codeblock.bubaloop p + code {
	margin-top: 0;
	/*padding-top: 0;*/
}

.bubaloop strong,
.bubaloop strong * {
	opacity: 1 !important;
	border-radius: 40px;
	font-weight: normal;
}

/* general */

.bubaloop strong {
	background-color: #F3F3F3;
	box-shadow: 0 0 0 6px #F3F3F3; /* h v blur spread color */
	mix-blend-mode: darken;
}

.bubaloop.highlight strong {
	color: #101010;
	background-color: var(--highlight-light-color);
	box-shadow: 0 0 0 6px var(--highlight-light-color); /* h v blur spread color */
	position: relative;
	z-index: 2;
	mix-blend-mode: normal;
}

.bubaloop.highlight strong.small {
	box-shadow: 0 0 0 4px var(--highlight-light-color); /* h v blur spread color */
}

.bubaloop.highlight strong.comment {
	background-color: var(--highlight-comments-light-color);
	box-shadow: 0 0 0 6px var(--highlight-comments-light-color); /* h v blur spread color */
	z-index: 1;
}

.bubaloop.highlight strong.small.comment {
	box-shadow: 0 0 0 4px var(--highlight-comments-light-color); /* h v blur spread color */
}

.bubaloop.highlight strong .type {
	color: #8a008a;
}

.bubaloop.highlight strong .operator {
	color: #505B66;
}

.bubaloop.highlight strong .comment,
.bubaloop.highlight strong .comment a {
	color: #ffffff;
}

@media (prefers-color-scheme: dark) {

	.bubaloop strong {
		background-color: #39393C; /* #2E2F31; */
		box-shadow: 0 0 0 6px #39393C; /* h v blur spread color */
		mix-blend-mode: lighten;
	}

	.bubaloop.highlight strong {
		color: #101010;
		background-color: var(--highlight-dark-color);
		box-shadow: 0 0 0 6px var(--highlight-dark-color); /* h v blur spread color */
		mix-blend-mode: normal;
	}

	.bubaloop.highlight strong.small {
		box-shadow: 0 0 0 4px var(--highlight-dark-color); /* h v blur spread color */
	}

	.bubaloop.highlight strong.comment {
		background-color: var(--highlight-comments-dark-color);
		box-shadow: 0 0 0 6px var(--highlight-comments-dark-color); /* h v blur spread color */
	}

	.bubaloop.highlight strong.small.comment {
		box-shadow: 0 0 0 4px var(--highlight-comments-dark-color); /* h v blur spread color */
	}

	.bubaloop.highlight strong .type {
		color: #8a008a;
	}

	.bubaloop.highlight strong .operator {
		color: #505B66;
	}

	.bubaloop.highlight strong .comment,
	.bubaloop.highlight strong .comment a {
		color: #ffffff;
	}

}

/* common */

.bubaloop.generic .keyword,
.bubaloop.rust .keyword,
.bubaloop.go .keyword,
.bubaloop.cpp .keyword,
.bubaloop.swift .keyword,
.bubaloop.cs .keyword,
.bubaloop.kotlin .keyword,
.bubaloop.java .keyword,
.bubaloop.javascript .keyword,
.bubaloop.dart .keyword,
.bubaloop.python .keyword,
.bubaloop.ruby .keyword,
.bubaloop.php .keyword,
.bubaloop.sql .keyword {
	color: var(--keywords-light-color);
}

.bubaloop.objectivec .keyword,
.bubaloop.actionscript .keyword,
.bubaloop.visualbasic .keyword,
.bubaloop.ada .keyword,
.bubaloop.objectpascal .keyword,
.bubaloop.smalltalk .keyword,
.bubaloop.commonlisp .keyword,
.bubaloop.haskell .keyword,
.bubaloop.fs .keyword {
	color: var(--keywords-light-color);
}

.bubaloop.webassembly .keyword,
.bubaloop.llvm .keyword,
.bubaloop.assembly .keyword {
	color: var(--keywords-light-color);
}

.bubaloop.highlight.generic .keyword,
.bubaloop.highlight.rust .keyword,
.bubaloop.highlight.go .keyword,
.bubaloop.highlight.cpp .keyword,
.bubaloop.highlight.swift .keyword,
.bubaloop.highlight.cs .keyword,
.bubaloop.highlight.kotlin .keyword,
.bubaloop.highlight.java .keyword,
.bubaloop.highlight.javascript .keyword,
.bubaloop.highlight.dart .keyword,
.bubaloop.highlight.python .keyword,
.bubaloop.highlight.ruby .keyword,
.bubaloop.highlight.php .keyword,
.bubaloop.highlight.sql .keyword {
	/*color: var(--highlight-keywords-light-color);*/
}

.bubaloop.highlight.objectivec .keyword,
.bubaloop.highlight.actionscript .keyword,
.bubaloop.highlight.visualbasic .keyword,
.bubaloop.highlight.ada .keyword,
.bubaloop.highlight.objectpascal .keyword,
.bubaloop.highlight.smalltalk .keyword,
.bubaloop.highlight.commonlisp .keyword,
.bubaloop.highlight.haskell .keyword,
.bubaloop.highlight.fs .keyword {
	/*color: var(--highlight-keywords-light-color);*/
}

.bubaloop.highlight.webassembly .keyword,
.bubaloop.highlight.llvm .keyword,
.bubaloop.highlight.assembly .keyword {
	/*color: var(--highlight-keywords-light-color);*/
}

.bubaloop.generic .number,
.bubaloop.rust .number,
.bubaloop.go .number,
.bubaloop.cpp .number,
.bubaloop.swift .number,
.bubaloop.cs .number,
.bubaloop.kotlin .number,
.bubaloop.java .number,
.bubaloop.javascript .number,
.bubaloop.dart .number,
.bubaloop.python .number,
.bubaloop.ruby .number,
.bubaloop.php .number,
.bubaloop.sql .number {
	color: var(--numbers-light-color);
}

.bubaloop.objectivec .number,
.bubaloop.actionscript .number,
.bubaloop.visualbasic .number,
.bubaloop.ada .number,
.bubaloop.objectpascal .number,
.bubaloop.smalltalk .number,
.bubaloop.commonlisp .number,
.bubaloop.haskell .number,
.bubaloop.fs .number {
	color: var(--numbers-light-color);
}

.bubaloop.webassembly .number,
.bubaloop.llvm .number,
.bubaloop.assembly .number {
	color: var(--numbers-light-color);
}

.bubaloop.generic .boolean,
.bubaloop.rust .boolean,
.bubaloop.go .boolean,
.bubaloop.cpp .boolean,
.bubaloop.swift .boolean,
.bubaloop.cs .boolean,
.bubaloop.kotlin .boolean,
.bubaloop.java .boolean,
.bubaloop.javascript .boolean,
.bubaloop.dart .boolean,
.bubaloop.python .boolean,
.bubaloop.ruby .boolean,
.bubaloop.php .boolean,
.bubaloop.sql .boolean {
	color: var(--boolean-light-color);
}

.bubaloop.objectivec .boolean,
.bubaloop.actionscript .boolean,
.bubaloop.visualbasic .boolean,
.bubaloop.ada .boolean,
.bubaloop.objectpascal .boolean,
.bubaloop.smalltalk .boolean,
.bubaloop.commonlisp .boolean,
.bubaloop.haskell .boolean,
.bubaloop.fs .boolean {
	color: var(--boolean-light-color);
}

.bubaloop.webassembly .boolean,
.bubaloop.llvm .boolean,
.bubaloop.assembly .boolean {
	color: var(--boolean-light-color);
}

.bubaloop.generic .type,
.bubaloop.rust .type,
.bubaloop.go .type,
.bubaloop.cpp .type,
.bubaloop.swift .type,
.bubaloop.cs .type,
.bubaloop.kotlin .type,
.bubaloop.java .type,
.bubaloop.javascript .type,
.bubaloop.dart .type,
.bubaloop.python .type,
.bubaloop.ruby .type,
.bubaloop.php .type,
.bubaloop.sql .type {
	color: var(--types-light-color);
}

.bubaloop.objectivec .type,
.bubaloop.actionscript .type,
.bubaloop.visualbasic .type,
.bubaloop.ada .type,
.bubaloop.objectpascal .type,
.bubaloop.haskell .type,
.bubaloop.fs .type {
	color: var(--types-light-color);
}

.bubaloop.webassembly .type,
.bubaloop.llvm .type,
.bubaloop.assembly .type {
	color: var(--types-light-color);
}

.bubaloop.highlight.generic strong .type,
.bubaloop.highlight.rust strong .type,
.bubaloop.highlight.go strong .type,
.bubaloop.highlight.cpp strong .type,
.bubaloop.highlight.swift strong .type,
.bubaloop.highlight.cs strong .type,
.bubaloop.highlight.kotlin strong .type,
.bubaloop.highlight.java strong .type,
.bubaloop.highlight.javascript strong .type,
.bubaloop.highlight.dart strong .type,
.bubaloop.highlight.python strong .type,
.bubaloop.highlight.ruby strong .type,
.bubaloop.highlight.php strong .type,
.bubaloop.highlight.sql strong .type {
	color: #8a008a;
}

.bubaloop.highlight.objectivec strong .type,
.bubaloop.highlight.actionscript strong .type,
.bubaloop.highlight.visualbasic strong .type,
.bubaloop.highlight.ada strong .type,
.bubaloop.highlight.objectpascal strong .type,
.bubaloop.highlight.haskell strong .type,
.bubaloop.highlight.fs strong .type {
	color: #8a008a;
}

.bubaloop.highlight.webassembly strong .type,
.bubaloop.highlight.llvm strong .type,
.bubaloop.highlight.assembly strong .type {
	color: #8a008a;
}

.bubaloop.generic .operator,
.bubaloop.rust .operator,
.bubaloop.go .operator,
.bubaloop.cpp .operator,
.bubaloop.swift .operator,
.bubaloop.cs .operator,
.bubaloop.kotlin .operator,
.bubaloop.java .operator,
.bubaloop.javascript .operator,
.bubaloop.dart .operator,
.bubaloop.python .operator,
.bubaloop.ruby .operator,
.bubaloop.php .operator,
.bubaloop.sql .operator {
	color: var(--punctuation-light-color);
}

.bubaloop.objectivec .operator,
.bubaloop.actionscript .operator,
.bubaloop.visualbasic .operator,
.bubaloop.ada .operator,
.bubaloop.objectpascal .operator,
.bubaloop.smalltalk .operator,
.bubaloop.commonlisp .operator,
.bubaloop.haskell .operator,
.bubaloop.fs .operator {
	color: var(--punctuation-light-color);
}

.bubaloop.webassembly .operator,
.bubaloop.llvm .operator,
.bubaloop.assembly .operator {
	color: var(--punctuation-light-color);
}

.bubaloop.highlight.generic strong .operator,
.bubaloop.highlight.rust strong .operator,
.bubaloop.highlight.go strong .operator,
.bubaloop.highlight.cpp strong .operator,
.bubaloop.highlight.swift strong .operator,
.bubaloop.highlight.cs strong .operator,
.bubaloop.highlight.kotlin strong .operator,
.bubaloop.highlight.java strong .operator,
.bubaloop.highlight.javascript strong .operator,
.bubaloop.highlight.dart strong .operator,
.bubaloop.highlight.python strong .operator,
.bubaloop.highlight.ruby strong .operator,
.bubaloop.highlight.php strong .operator,
.bubaloop.highlight.sql strong .operator {
	color: #505B66;
}

.bubaloop.highlight.objectivec strong .operator,
.bubaloop.highlight.actionscript strong .operator,
.bubaloop.highlight.visualbasic strong .operator,
.bubaloop.highlight.ada strong .operator,
.bubaloop.highlight.objectpascal strong .operator,
.bubaloop.highlight.smalltalk strong .operator,
.bubaloop.highlight.commonlisp strong .operator,
.bubaloop.highlight.haskell strong .operator,
.bubaloop.highlight.fs strong .operator {
	color: #505B66;
}

.bubaloop.highlight.webassembly strong .operator,
.bubaloop.highlight.llvm strong .operator,
.bubaloop.highlight.assembly strong .operator {
	color: #505B66;
}

.bubaloop.generic .comment,
.bubaloop.generic .comment a,
.bubaloop.rust .comment,
.bubaloop.rust .comment a,
.bubaloop.go .comment,
.bubaloop.go .comment a,
.bubaloop.cpp .comment,
.bubaloop.cpp .comment a,
.bubaloop.swift .comment,
.bubaloop.swift .comment a,
.bubaloop.cs .comment,
.bubaloop.cs .comment a,
.bubaloop.kotlin .comment,
.bubaloop.kotlin .comment a,
.bubaloop.java .comment,
.bubaloop.java .comment a,
.bubaloop.javascript .comment,
.bubaloop.javascript .comment a,
.bubaloop.dart .comment,
.bubaloop.dart .comment a,
.bubaloop.python .comment,
.bubaloop.python .comment a,
.bubaloop.ruby .comment,
.bubaloop.ruby .comment a,
.bubaloop.php .comment,
.bubaloop.php .comment a,
.bubaloop.sql .comment,
.bubaloop.sql .comment a {
	color: var(--comments-light-color);
}

.bubaloop.objectivec .comment,
.bubaloop.objectivec .comment a,
.bubaloop.actionscript .comment,
.bubaloop.actionscript .comment a,
.bubaloop.visualbasic .comment,
.bubaloop.visualbasic .comment a,
.bubaloop.ada .comment,
.bubaloop.ada .comment a,
.bubaloop.objectpascal .comment,
.bubaloop.objectpascal .comment a,
.bubaloop.smalltalk .comment,
.bubaloop.smalltalk .comment a,
.bubaloop.commonlisp .comment,
.bubaloop.commonlisp .comment a,
.bubaloop.haskell .comment,
.bubaloop.haskell .comment a,
.bubaloop.fs .comment,
.bubaloop.fs .comment a {
	color: var(--comments-light-color);
}

.bubaloop.webassembly .comment,
.bubaloop.webassembly .comment a,
.bubaloop.llvm .comment,
.bubaloop.llvm .comment a,
.bubaloop.assembly .comment,
.bubaloop.assembly .comment a {
	color: var(--comments-light-color);
}

.bubaloop.highlight.generic strong .comment,
.bubaloop.highlight.generic strong .comment a,
.bubaloop.highlight.rust strong .comment,
.bubaloop.highlight.rust strong .comment a,
.bubaloop.highlight.go strong .comment,
.bubaloop.highlight.go strong .comment a,
.bubaloop.highlight.cpp strong .comment,
.bubaloop.highlight.cpp strong .comment a,
.bubaloop.highlight.swift strong .comment,
.bubaloop.highlight.swift strong .comment a,
.bubaloop.highlight.cs strong .comment,
.bubaloop.highlight.cs strong .comment a,
.bubaloop.highlight.kotlin strong .comment,
.bubaloop.highlight.kotlin strong .comment a,
.bubaloop.highlight.java strong .comment,
.bubaloop.highlight.java strong .comment a,
.bubaloop.highlight.javascript strong .comment,
.bubaloop.highlight.javascript strong .comment a,
.bubaloop.highlight.dart strong .comment,
.bubaloop.highlight.dart strong .comment a,
.bubaloop.highlight.python strong .comment,
.bubaloop.highlight.python strong .comment a,
.bubaloop.highlight.ruby strong .comment,
.bubaloop.highlight.ruby strong .comment a,
.bubaloop.highlight.php strong .comment,
.bubaloop.highlight.php strong .comment a,
.bubaloop.highlight.sql strong .comment,
.bubaloop.highlight.sql strong .comment a {
	color: #ffffff;
}

.bubaloop.highlight.objectivec strong .comment,
.bubaloop.highlight.objectivec strong .comment a,
.bubaloop.highlight.actionscript strong .comment,
.bubaloop.highlight.actionscript strong .comment a,
.bubaloop.highlight.visualbasic strong .comment,
.bubaloop.highlight.visualbasic strong .comment a,
.bubaloop.highlight.ada strong .comment,
.bubaloop.highlight.ada strong .comment a,
.bubaloop.highlight.objectpascal strong .comment,
.bubaloop.highlight.objectpascal strong .comment a,
.bubaloop.highlight.smalltalk strong .comment,
.bubaloop.highlight.smalltalk strong .comment a,
.bubaloop.highlight.commonlisp strong .comment,
.bubaloop.highlight.commonlisp strong .comment a,
.bubaloop.highlight.haskell strong .comment,
.bubaloop.highlight.haskell strong .comment a,
.bubaloop.highlight.fs strong .comment,
.bubaloop.highlight.fs strong .comment a {
	color: #ffffff;
}

.bubaloop.highlight.webassembly strong .comment,
.bubaloop.highlight.webassembly strong .comment a,
.bubaloop.highlight.llvm strong .comment,
.bubaloop.highlight.llvm strong .comment a,
.bubaloop.highlight.assembly strong .comment,
.bubaloop.highlight.assembly strong .comment a {
	color: #ffffff;
}

.bubaloop.generic .directive,
.bubaloop.go .directive,
.bubaloop.cpp .directive,
.bubaloop.swift .directive,
.bubaloop.cs .directive {
	color: #7F8EA3;
}

.bubaloop.objectivec .directive,
.bubaloop.visualbasic .directive {
	color: #7F8EA3;
}

.bubaloop.generic .string,
.bubaloop.rust .string,
.bubaloop.go .string,
.bubaloop.cpp .string,
.bubaloop.swift .string,
.bubaloop.cs .string,
.bubaloop.kotlin .string,
.bubaloop.java .string,
.bubaloop.javascript .string,
.bubaloop.dart .string,
.bubaloop.python .string,
.bubaloop.ruby .string,
.bubaloop.php .string,
.bubaloop.sql .string {
	color: var(--strings-light-color);
}

.bubaloop.objectivec .string,
.bubaloop.actionscript .string,
.bubaloop.visualbasic .string,
.bubaloop.ada .string,
.bubaloop.objectpascal .string,
.bubaloop.smalltalk .string,
.bubaloop.commonlisp .string,
.bubaloop.haskell .string,
.bubaloop.fs .string {
	color: var(--strings-light-color);
}

.bubaloop.webassembly .string,
.bubaloop.llvm .string,
.bubaloop.assembly .string {
	color: var(--strings-light-color);
}

.bubaloop.highlight.generic strong .string,
.bubaloop.highlight.rust strong .string,
.bubaloop.highlight.go strong .string,
.bubaloop.highlight.cpp strong .string,
.bubaloop.highlight.swift strong .string,
.bubaloop.highlight.cs strong .string,
.bubaloop.highlight.kotlin strong .string,
.bubaloop.highlight.java strong .string,
.bubaloop.highlight.javascript strong .string,
.bubaloop.highlight.dart strong .string,
.bubaloop.highlight.python strong .string,
.bubaloop.highlight.ruby strong .string,
.bubaloop.highlight.php strong .string,
.bubaloop.highlight.sql strong .string {
	color: #ffffff;
}

.bubaloop.highlight.objectivec strong .string,
.bubaloop.highlight.actionscript strong .string,
.bubaloop.highlight.visualbasic strong .string,
.bubaloop.highlight.ada strong .string,
.bubaloop.highlight.objectpascal strong .string,
.bubaloop.highlight.smalltalk strong .string,
.bubaloop.highlight.commonlisp strong .string,
.bubaloop.highlight.haskell strong .string,
.bubaloop.highlight.fs strong .string {
	color: #ffffff;
}

.bubaloop.highlight.webassembly strong .string,
.bubaloop.highlight.llvm strong .string,
.bubaloop.highlight.assembly strong .string {
	color: #ffffff;
}

.bubaloop.generic .char,
.bubaloop.rust .char,
.bubaloop.go .char,
.bubaloop.cpp .char,
.bubaloop.swift .char,
.bubaloop.cs .char,
.bubaloop.kotlin .char,
.bubaloop.java .char {
	color: var(--chars-light-color);
}

.bubaloop.objectivec .char {
	color: var(--chars-light-color);
}

.bubaloop.highlight.generic strong .char,
.bubaloop.highlight.rust strong .char,
.bubaloop.highlight.go strong .char,
.bubaloop.highlight.cpp strong .char,
.bubaloop.highlight.swift strong .char,
.bubaloop.highlight.cs strong .char,
.bubaloop.highlight.kotlin strong .char,
.bubaloop.highlight.java strong .char {
	color: #ffffff;
}

.bubaloop.highlight.objectivec strong .char {
	color: #ffffff;
}

.bubaloop.generic .attribute,
.bubaloop.rust .attribute,
.bubaloop.go .attribute,
.bubaloop.swift .attribute,
.bubaloop.cs .attribute,
.bubaloop.kotlin .annotation,
.bubaloop.java .annotation,
.bubaloop.javascript .decorator,
.bubaloop.dart .annotation,
.bubaloop.python .attribute, /* TODO check this */
.bubaloop.python .decorator {
	color: var(--attributes-light-color);
}

.bubaloop.actionscript .attribute,
.bubaloop.visualbasic .attribute {
	color: var(--attributes-light-color);
}

.bubaloop.highlight.generic strong .attribute,
.bubaloop.highlight.rust strong .attribute,
.bubaloop.highlight.go strong .attribute,
.bubaloop.highlight.swift strong .attribute,
.bubaloop.highlight.cs strong .attribute,
.bubaloop.highlight.kotlin strong .annotation,
.bubaloop.highlight.java strong .annotation,
.bubaloop.highlight.javascript strong .decorator,
.bubaloop.highlight.dart strong .annotation,
.bubaloop.highlight.python strong .attribute, /* TODO check this */
.bubaloop.highlight.python strong .decorator {
	color: var(--attributes-light-color);
}

.bubaloop.highlight.actionscript strong .attribute,
.bubaloop.highlight.visualbasic strong .attribute {
	color: #505B66;
}

.bubaloop.generic .label,
.bubaloop.rust .label,
.bubaloop.go .label,
.bubaloop.cpp .label,
.bubaloop.swift .label,
.bubaloop.cs .label,
.bubaloop.kotlin .label,
.bubaloop.java .label,
.bubaloop.javascript .label {
	color: var(--labels-light-color);
}

.bubaloop.objectivec .label,
.bubaloop.visualbasic .label {
	color: var(--labels-light-color);
}

.bubaloop.llvm .label,
.bubaloop.assembly .label {
	color: var(--labels-light-color);
}

/* Rust */

.bubaloop.rust .lifetime {
	color: #8D00FF;
}

/* C++ */

.bubaloop.cpp .rstring {
	color: var(--strings-light-color);
}

.bubaloop.highlight.cpp strong .rstring {
	color: #ffffff;
}

/* C# */

.bubaloop.cs .vstring, /* verbatim (@) strings */
.bubaloop.cs .istring { /* interpolated ($) strings */
	color: var(--strings-light-color);
}

.bubaloop.highlight.cs strong .vstring,
.bubaloop.highlight.cs strong .istring {
	color: #ffffff;
}

/* Kotlin */

.bubaloop.kotlin .rawstring {
	color: var(--strings-light-color);
}

.bubaloop.highlight.kotlin strong .rawstring {
	color: #ffffff;
}

/* JavaScript */

.bubaloop.javascript .istring { /* interpolated (`) strings */
	color: var(--strings-light-color);
}

.bubaloop.javascript .regex {
	color: #8D00FF;
}

.bubaloop.javascript .functionName {
	color: #0040B4;
}

.bubaloop.javascript .memberAccessOperator {
	color: inherit;
}

.bubaloop.javascript .argumentsDelimiter,
.bubaloop.javascript .argumentsSeparator,
.bubaloop.javascript .objectDelimiter,
.bubaloop.javascript .objectSeparator,
.bubaloop.javascript .propertySeparator,
.bubaloop.javascript .arrayDelimiter,
.bubaloop.javascript .arraySeparator {
	color: #000000;
}

/* PHP */
.bubaloop.php .tag {
	color: #7F8EA3;
}

/* Assembly */

.bubaloop.assembly .section,
.bubaloop.assembly .segment {
	color: #8D00FF;
}

.bubaloop.assembly .register {
	color: #7F8EA3;
}

/* SQL */

.bubaloop.sql .function {
	color: #8D00FF;
}

/* Objective-C */

.bubaloop.objectivec .objcstring {
	color: var(--strings-light-color);
}

.bubaloop.highlight.objectivec strong .objcstring {
	color: #ffffff;
}

.bubaloop.objectivec .objcchar {
	color: #0076E6;
}

.bubaloop.highlight.objectivec strong .objcchar {
	color: #ffffff;
}

/* Visual Basic */

.bubaloop.visualbasic .date {
	color: #8D00FF;
}

.bubaloop.visualbasic .functionName {
	color: #0040B4;
}



@media (prefers-color-scheme: dark) {

	.bubaloop.generic .keyword,
	.bubaloop.rust .keyword,
	.bubaloop.go .keyword,
	.bubaloop.cpp .keyword,
	.bubaloop.swift .keyword,
	.bubaloop.cs .keyword,
	.bubaloop.kotlin .keyword,
	.bubaloop.java .keyword,
	.bubaloop.javascript .keyword,
	.bubaloop.dart .keyword,
	.bubaloop.python .keyword,
	.bubaloop.ruby .keyword,
	.bubaloop.php .keyword,
	.bubaloop.sql .keyword {
		color: var(--keywords-dark-color);
	}

	.bubaloop.objectivec .keyword,
	.bubaloop.actionscript .keyword,
	.bubaloop.visualbasic .keyword,
	.bubaloop.ada .keyword,
	.bubaloop.objectpascal .keyword,
	.bubaloop.smalltalk .keyword,
	.bubaloop.commonlisp .keyword,
	.bubaloop.haskell .keyword,
	.bubaloop.fs .keyword {
		color: var(--keywords-dark-color);
	}

	.bubaloop.webassembly .keyword,
	.bubaloop.llvm .keyword,
	.bubaloop.assembly .keyword {
		color: var(--keywords-dark-color);
	}

	.bubaloop.highlight.generic .keyword,
	.bubaloop.highlight.rust .keyword,
	.bubaloop.highlight.go .keyword,
	.bubaloop.highlight.cpp .keyword,
	.bubaloop.highlight.swift .keyword,
	.bubaloop.highlight.cs .keyword,
	.bubaloop.highlight.kotlin .keyword,
	.bubaloop.highlight.java .keyword,
	.bubaloop.highlight.javascript .keyword,
	.bubaloop.highlight.dart .keyword,
	.bubaloop.highlight.python .keyword,
	.bubaloop.highlight.ruby .keyword,
	.bubaloop.highlight.php .keyword,
	.bubaloop.highlight.sql .keyword {
		color: var(--highlight-keywords-dark-color);
	}

	.bubaloop.highlight.objectivec .keyword,
	.bubaloop.highlight.actionscript .keyword,
	.bubaloop.highlight.visualbasic .keyword,
	.bubaloop.highlight.ada .keyword,
	.bubaloop.highlight.objectpascal .keyword,
	.bubaloop.highlight.smalltalk .keyword,
	.bubaloop.highlight.commonlisp .keyword,
	.bubaloop.highlight.haskell .keyword,
	.bubaloop.highlight.fs .keyword {
		/*color: var(--highlight-keywords-dark-color);*/
	}

	.bubaloop.highlight.webassembly .keyword,
	.bubaloop.highlight.llvm .keyword,
	.bubaloop.highlight.assembly .keyword {
		color: var(--highlight-keywords-dark-color);
	}

	.bubaloop.generic .number,
	.bubaloop.rust .number,
	.bubaloop.go .number,
	.bubaloop.cpp .number,
	.bubaloop.swift .number,
	.bubaloop.cs .number,
	.bubaloop.kotlin .number,
	.bubaloop.java .number,
	.bubaloop.javascript .number,
	.bubaloop.dart .number,
	.bubaloop.python .number,
	.bubaloop.ruby .number,
	.bubaloop.php .number,
	.bubaloop.sql .number {
		color: var(--numbers-dark-color);
	}

	.bubaloop.objectivec .number,
	.bubaloop.actionscript .number,
	.bubaloop.visualbasic .number,
	.bubaloop.ada .number,
	.bubaloop.objectpascal .number,
	.bubaloop.smalltalk .number,
	.bubaloop.commonlisp .number,
	.bubaloop.haskell .number,
	.bubaloop.fs .number {
		color: var(--numbers-dark-color);
	}

	.bubaloop.webassembly .number,
	.bubaloop.llvm .number,
	.bubaloop.assembly .number {
		color: var(--numbers-dark-color);
	}

	.bubaloop.generic .boolean,
	.bubaloop.rust .boolean,
	.bubaloop.go .boolean,
	.bubaloop.cpp .boolean,
	.bubaloop.swift .boolean,
	.bubaloop.cs .boolean,
	.bubaloop.kotlin .boolean,
	.bubaloop.java .boolean,
	.bubaloop.javascript .boolean,
	.bubaloop.dart .boolean,
	.bubaloop.python .boolean,
	.bubaloop.ruby .boolean,
	.bubaloop.php .boolean,
	.bubaloop.sql .boolean {
		color: var(--boolean-dark-color);
	}

	.bubaloop.objectivec .boolean,
	.bubaloop.actionscript .boolean,
	.bubaloop.visualbasic .boolean,
	.bubaloop.ada .boolean,
	.bubaloop.objectpascal .boolean,
	.bubaloop.smalltalk .boolean,
	.bubaloop.commonlisp .boolean,
	.bubaloop.haskell .boolean,
	.bubaloop.fs .boolean {
		color: var(--boolean-dark-color);
	}

	.bubaloop.webassembly .boolean,
	.bubaloop.llvm .boolean,
	.bubaloop.assembly .boolean {
		color: var(--boolean-dark-color);
	}

	.bubaloop.generic .type,
	.bubaloop.rust .type,
	.bubaloop.go .type,
	.bubaloop.cpp .type,
	.bubaloop.swift .type,
	.bubaloop.cs .type,
	.bubaloop.kotlin .type,
	.bubaloop.java .type,
	.bubaloop.javascript .type,
	.bubaloop.dart .type,
	.bubaloop.python .type,
	.bubaloop.ruby .type,
	.bubaloop.php .type,
	.bubaloop.sql .type {
		color: var(--types-dark-color);
	}

	.bubaloop.objectivec .type,
	.bubaloop.actionscript .type,
	.bubaloop.visualbasic .type,
	.bubaloop.ada .type,
	.bubaloop.objectpascal .type,
	.bubaloop.haskell .type,
	.bubaloop.fs .type {
		color: var(--types-dark-color);
	}

	.bubaloop.webassembly .type,
	.bubaloop.llvm .type,
	.bubaloop.assembly .type {
		color: var(--types-dark-color);
	}

	.bubaloop.highlight.generic strong .type,
	.bubaloop.highlight.rust strong .type,
	.bubaloop.highlight.go strong .type,
	.bubaloop.highlight.cpp strong .type,
	.bubaloop.highlight.swift strong .type,
	.bubaloop.highlight.cs strong .type,
	.bubaloop.highlight.kotlin strong .type,
	.bubaloop.highlight.java strong .type,
	.bubaloop.highlight.javascript strong .type,
	.bubaloop.highlight.dart strong .type,
	.bubaloop.highlight.python strong .type,
	.bubaloop.highlight.ruby strong .type,
	.bubaloop.highlight.php strong .type,
	.bubaloop.highlight.sql strong .type {
		color: #8a008a;
	}

	.bubaloop.highlight.objectivec strong .type,
	.bubaloop.highlight.actionscript strong .type,
	.bubaloop.highlight.visualbasic strong .type,
	.bubaloop.highlight.ada strong .type,
	.bubaloop.highlight.objectpascal strong .type,
	.bubaloop.highlight.haskell strong .type {
		color: #8a008a;
	}

	.bubaloop.highlight.webassembly strong .type,
	.bubaloop.highlight.llvm strong .type,
	.bubaloop.highlight.assembly strong .type {
		color: #8a008a;
	}

	.bubaloop.generic .operator,
	.bubaloop.rust .operator,
	.bubaloop.go .operator,
	.bubaloop.cpp .operator,
	.bubaloop.swift .operator,
	.bubaloop.cs .operator,
	.bubaloop.kotlin .operator,
	.bubaloop.java .operator,
	.bubaloop.javascript .operator,
	.bubaloop.dart .operator,
	.bubaloop.python .operator,
	.bubaloop.ruby .operator,
	.bubaloop.php .operator,
	.bubaloop.sql .operator {
		color: var(--punctuation-dark-color);
	}

	.bubaloop.objectivec .operator,
	.bubaloop.actionscript .operator,
	.bubaloop.visualbasic .operator,
	.bubaloop.ada .operator,
	.bubaloop.objectpascal .operator,
	.bubaloop.smalltalk .operator,
	.bubaloop.commonlisp .operator,
	.bubaloop.haskell .operator,
	.bubaloop.fs .operator {
		color: var(--punctuation-dark-color);
	}

	.bubaloop.webassembly .operator,
	.bubaloop.llvm .operator,
	.bubaloop.assembly .operator {
		color: var(--punctuation-dark-color);
	}

	.bubaloop.highlight.generic strong .operator,
	.bubaloop.highlight.rust strong .operator,
	.bubaloop.highlight.go strong .operator,
	.bubaloop.highlight.cpp strong .operator,
	.bubaloop.highlight.swift strong .operator,
	.bubaloop.highlight.cs strong .operator,
	.bubaloop.highlight.kotlin strong .operator,
	.bubaloop.highlight.java strong .operator,
	.bubaloop.highlight.javascript strong .operator,
	.bubaloop.highlight.dart strong .operator,
	.bubaloop.highlight.python strong .operator,
	.bubaloop.highlight.ruby strong .operator,
	.bubaloop.highlight.php strong .operator,
	.bubaloop.highlight.sql strong .operator {
		color: #505B66;
	}

	.bubaloop.highlight.objectivec strong .operator,
	.bubaloop.highlight.actionscript strong .operator,
	.bubaloop.highlight.visualbasic strong .operator,
	.bubaloop.highlight.ada strong .operator,
	.bubaloop.highlight.objectpascal strong .operator,
	.bubaloop.highlight.smalltalk strong .operator,
	.bubaloop.highlight.commonlisp strong .operator,
	.bubaloop.highlight.haskell strong .operator,
	.bubaloop.highlight.fs strong .operator {
		color: #505B66;
	}

	.bubaloop.highlight.webassembly strong .operator,
	.bubaloop.highlight.llvm strong .operator,
	.bubaloop.highlight.assembly strong .operator {
		color: #505B66;
	}

	.bubaloop.generic .comment,
	.bubaloop.generic .comment a,
	.bubaloop.rust .comment,
	.bubaloop.rust .comment a,
	.bubaloop.go .comment,
	.bubaloop.go .comment a,
	.bubaloop.cpp .comment,
	.bubaloop.cpp .comment a,
	.bubaloop.swift .comment,
	.bubaloop.swift .comment a,
	.bubaloop.cs .comment,
	.bubaloop.cs .comment a,
	.bubaloop.kotlin .comment,
	.bubaloop.kotlin .comment a,
	.bubaloop.java .comment,
	.bubaloop.java .comment a,
	.bubaloop.javascript .comment,
	.bubaloop.javascript .comment a,
	.bubaloop.dart .comment,
	.bubaloop.dart .comment a,
	.bubaloop.python .comment,
	.bubaloop.python .comment a,
	.bubaloop.ruby .comment,
	.bubaloop.ruby .comment a,
	.bubaloop.php .comment,
	.bubaloop.php .comment a,
	.bubaloop.sql .comment,
	.bubaloop.sql .comment a {
		color: var(--comments-dark-color);
	}

	.bubaloop.objectivec .comment,
	.bubaloop.objectivec .comment a,
	.bubaloop.actionscript .comment,
	.bubaloop.actionscript .comment a,
	.bubaloop.visualbasic .comment,
	.bubaloop.visualbasic .comment a,
	.bubaloop.ada .comment,
	.bubaloop.ada .comment a,
	.bubaloop.objectpascal .comment,
	.bubaloop.objectpascal .comment a,
	.bubaloop.smalltalk .comment,
	.bubaloop.smalltalk .comment a,
	.bubaloop.commonlisp .comment,
	.bubaloop.commonlisp .comment a,
	.bubaloop.haskell .comment,
	.bubaloop.haskell .comment a,
	.bubaloop.fs .comment,
	.bubaloop.fs .comment a {
		color: var(--comments-dark-color);
	}

	.bubaloop.webassembly .comment,
	.bubaloop.webassembly .comment a,
	.bubaloop.llvm .comment,
	.bubaloop.llvm .comment a,
	.bubaloop.assembly .comment,
	.bubaloop.assembly .comment a {
		color: var(--comments-dark-color);
	}

	.bubaloop.highlight.generic strong .comment,
	.bubaloop.highlight.generic strong .comment a,
	.bubaloop.highlight.rust strong .comment,
	.bubaloop.highlight.rust strong .comment a,
	.bubaloop.highlight.go strong .comment,
	.bubaloop.highlight.go strong .comment a,
	.bubaloop.highlight.cpp strong .comment,
	.bubaloop.highlight.cpp strong .comment a,
	.bubaloop.highlight.swift strong .comment,
	.bubaloop.highlight.swift strong .comment a,
	.bubaloop.highlight.cs strong .comment,
	.bubaloop.highlight.cs strong .comment a,
	.bubaloop.highlight.kotlin strong .comment,
	.bubaloop.highlight.kotlin strong .comment a,
	.bubaloop.highlight.java strong .comment,
	.bubaloop.highlight.java strong .comment a,
	.bubaloop.highlight.javascript strong .comment,
	.bubaloop.highlight.javascript strong .comment a,
	.bubaloop.highlight.dart strong .comment,
	.bubaloop.highlight.dart strong .comment a,
	.bubaloop.highlight.python strong .comment,
	.bubaloop.highlight.python strong .comment a,
	.bubaloop.highlight.ruby strong .comment,
	.bubaloop.highlight.ruby strong .comment a,
	.bubaloop.highlight.php strong .comment,
	.bubaloop.highlight.php strong .comment a,
	.bubaloop.highlight.sql strong .comment,
	.bubaloop.highlight.sql strong .comment a {
		color: #ffffff;
	}

	.bubaloop.highlight.objectivec strong .comment,
	.bubaloop.highlight.objectivec strong .comment a,
	.bubaloop.highlight.actionscript strong .comment,
	.bubaloop.highlight.actionscript strong .comment a,
	.bubaloop.highlight.visualbasic strong .comment,
	.bubaloop.highlight.visualbasic strong .comment a,
	.bubaloop.highlight.ada strong .comment,
	.bubaloop.highlight.ada strong .comment a,
	.bubaloop.highlight.objectpascal strong .comment,
	.bubaloop.highlight.objectpascal strong .comment a,
	.bubaloop.highlight.smalltalk strong .comment,
	.bubaloop.highlight.smalltalk strong .comment a,
	.bubaloop.highlight.commonlisp strong .comment,
	.bubaloop.highlight.commonlisp strong .comment a,
	.bubaloop.highlight.haskell strong .comment,
	.bubaloop.highlight.haskell strong .comment a,
	.bubaloop.highlight.fs strong .comment,
	.bubaloop.highlight.fs strong .comment a {
		color: #ffffff;
	}

	.bubaloop.highlight.webassembly strong .comment,
	.bubaloop.highlight.webassembly strong .comment a,
	.bubaloop.highlight.llvm strong .comment,
	.bubaloop.highlight.llvm strong .comment a,
	.bubaloop.highlight.assembly strong .comment,
	.bubaloop.highlight.assembly strong .comment a {
		color: #ffffff;
	}

	.bubaloop.generic .directive,
	.bubaloop.go .directive,
	.bubaloop.cpp .directive,
	.bubaloop.swift .directive,
	.bubaloop.cs .directive {
		color: #7F8EA3;
	}

	.bubaloop.objectivec .directive,
	.bubaloop.visualbasic .directive {
		color: #7F8EA3;
	}

	.bubaloop.generic .string,
	.bubaloop.rust .string,
	.bubaloop.go .string,
	.bubaloop.cpp .string,
	.bubaloop.swift .string,
	.bubaloop.cs .string,
	.bubaloop.kotlin .string,
	.bubaloop.java .string,
	.bubaloop.javascript .string,
	.bubaloop.dart .string,
	.bubaloop.python .string,
	.bubaloop.ruby .string,
	.bubaloop.php .string,
	.bubaloop.sql .string {
		color: var(--strings-dark-color);
	}

	.bubaloop.objectivec .string,
	.bubaloop.actionscript .string,
	.bubaloop.visualbasic .string,
	.bubaloop.ada .string,
	.bubaloop.objectpascal .string,
	.bubaloop.smalltalk .string,
	.bubaloop.commonlisp .string,
	.bubaloop.haskell .string,
	.bubaloop.fs .string {
		color: var(--strings-dark-color);
	}

	.bubaloop.webassembly .string,
	.bubaloop.llvm .string,
	.bubaloop.assembly .string {
		color: var(--strings-dark-color);
	}

	.bubaloop.highlight.generic strong .string,
	.bubaloop.highlight.rust strong .string,
	.bubaloop.highlight.go strong .string,
	.bubaloop.highlight.cpp strong .string,
	.bubaloop.highlight.swift strong .string,
	.bubaloop.highlight.cs strong .string,
	.bubaloop.highlight.kotlin strong .string,
	.bubaloop.highlight.java strong .string,
	.bubaloop.highlight.javascript strong .string,
	.bubaloop.highlight.dart strong .string,
	.bubaloop.highlight.python strong .string,
	.bubaloop.highlight.ruby strong .string,
	.bubaloop.highlight.php strong .string,
	.bubaloop.highlight.sql strong .string {
		color: #ffffff;
	}

	.bubaloop.highlight.objectivec strong .string,
	.bubaloop.highlight.actionscript strong .string,
	.bubaloop.highlight.visualbasic strong .string,
	.bubaloop.highlight.ada strong .string,
	.bubaloop.highlight.objectpascal strong .string,
	.bubaloop.highlight.smalltalk strong .string,
	.bubaloop.highlight.commonlisp strong .string,
	.bubaloop.highlight.haskell strong .string,
	.bubaloop.highlight.fs strong .string {
		color: #ffffff;
	}

	.bubaloop.highlight.webassembly strong .string,
	.bubaloop.highlight.llvm strong .string,
	.bubaloop.highlight.assembly strong .string {
		color: #ffffff;
	}

	.bubaloop.generic .char,
	.bubaloop.rust .char,
	.bubaloop.go .char,
	.bubaloop.cpp .char,
	.bubaloop.swift .char,
	.bubaloop.cs .char,
	.bubaloop.kotlin .char,
	.bubaloop.java .char {
		color: var(--chars-dark-color);
	}

	.bubaloop.objectivec .char {
		color: var(--chars-dark-color);
	}

	.bubaloop.highlight.generic strong .char,
	.bubaloop.highlight.rust strong .char,
	.bubaloop.highlight.go strong .char,
	.bubaloop.highlight.cpp strong .char,
	.bubaloop.highlight.swift strong .char,
	.bubaloop.highlight.cs strong .char,
	.bubaloop.highlight.kotlin strong .char,
	.bubaloop.highlight.java strong .char {
		color: #ffffff;
	}

	.bubaloop.highlight.objectivec strong .char {
		color: #ffffff;
	}

	.bubaloop.generic .attribute,
	.bubaloop.rust .attribute,
	.bubaloop.go .attribute,
	.bubaloop.swift .attribute,
	.bubaloop.cs .attribute,
	.bubaloop.kotlin .annotation,
	.bubaloop.java .annotation,
	.bubaloop.javascript .decorator,
	.bubaloop.dart .annotation,
	.bubaloop.python .attribute, /* TODO check this */
	.bubaloop.python .decorator {
		color: var(--attributes-dark-color);
	}

	.bubaloop.visualbasic .attribute {
		color: var(--attributes-dark-color);
	}

	.bubaloop.highlight.generic strong .attribute,
	.bubaloop.highlight.rust strong .attribute,
	.bubaloop.highlight.go strong .attribute,
	.bubaloop.highlight.swift strong .attribute,
	.bubaloop.highlight.cs strong .attribute,
	.bubaloop.highlight.kotlin strong .annotation,
	.bubaloop.highlight.java strong .annotation,
	.bubaloop.highlight.javascript strong .decorator,
	.bubaloop.highlight.dart strong .annotation,
	.bubaloop.highlight.python strong .attribute, /* TODO check this */
	.bubaloop.highlight.python strong .decorator {
		color: var(--attributes-dark-color);
	}

	.bubaloop.highlight.visualbasic strong .attribute {
		color: #505B66;
	}

	.bubaloop.generic .label,
	.bubaloop.rust .label,
	.bubaloop.go .label,
	.bubaloop.cpp .label,
	.bubaloop.swift .label,
	.bubaloop.cs .label,
	.bubaloop.kotlin .label,
	.bubaloop.java .label,
	.bubaloop.javascript .label {
		color: var(--labels-dark-color);
	}

	.bubaloop.objectivec .label,
	.bubaloop.visualbasic .label {
		color: var(--labels-dark-color);
	}

	.bubaloop.llvm .label,
	.bubaloop.assembly .label {
		color: var(--labels-dark-color);
	}

	/* Rust */

	.bubaloop.rust .lifetime {
		color: #8D00FF;
	}

	/* C++ */

	.bubaloop.cpp .rstring {
		color: var(--strings-dark-color);
	}

	.bubaloop.highlight.cpp strong .rstring {
		color: #ffffff;
	}

	/* C# */

	.bubaloop.cs .vstring, /* verbatim (@) strings */
	.bubaloop.cs .istring { /* interpolated ($) strings */
		color: var(--strings-dark-color);
	}

	.bubaloop.highlight.cs strong .vstring,
	.bubaloop.highlight.cs strong .istring {
		color: #ffffff;
	}

	/* Kotlin */

	.bubaloop.kotlin .rawstring {
		color: var(--strings-dark-color);
	}

	.bubaloop.highlight.kotlin strong .rawstring {
		color: #ffffff;
	}

	/* JavaScript */

	.bubaloop.javascript .istring { /* interpolated (`) strings */
		color: var(--strings-dark-color);
	}

	.bubaloop.javascript .regex {
		color: #8D00FF;
	}

	.bubaloop.javascript .functionName {
		color: #0040B4;
	}

	.bubaloop.javascript .memberAccessOperator {
		color: inherit;
	}

	.bubaloop.javascript .argumentsDelimiter,
	.bubaloop.javascript .argumentsSeparator,
	.bubaloop.javascript .objectDelimiter,
	.bubaloop.javascript .objectSeparator,
	.bubaloop.javascript .propertySeparator,
	.bubaloop.javascript .arrayDelimiter,
	.bubaloop.javascript .arraySeparator {
		color: #000000;
	}

	/* PHP */
	.bubaloop.php .tag {
		color: #7F8EA3;
	}

	/* Assembly */

	.bubaloop.assembly .section,
	.bubaloop.assembly .segment {
		color: #8D00FF;
	}

	.bubaloop.assembly .register {
		color: #7F8EA3;
	}

	/* SQL */

	.bubaloop.sql .function {
		color: #8D00FF;
	}

	/* Objective-C */

	.bubaloop.objectivec .objcstring {
		color: #0099FF;
	}

	.bubaloop.highlight.objectivec strong .objcstring {
		color: #ffffff;
	}

	.bubaloop.objectivec .objcchar {
		color: #0076E6;
	}

	.bubaloop.highlight.objectivec strong .objcchar {
		color: #ffffff;
	}

	/* Visual Basic */

	.bubaloop.visualbasic .date {
		color: #8D00FF;
	}

	.bubaloop.visualbasic .functionName {
		color: #0040B4;
	}

}

/* html */

.bubaloop.html a {
	color: #91E500;
}

.bubaloop.highlight.html strong {
	background-color: #00A6FF;
	box-shadow: 0 0 0 6px #00A6FF; /* h v blur spread color */
	position: relative;
	z-index: 2;
}

.bubaloop.highlight.html strong.small {
	box-shadow: 0 0 0 4px #00A6FF; /* h v blur spread color */
}

.bubaloop.highlight.html strong.comment {
	background-color: #8AD100;
	box-shadow: 0 0 0 6px #8AD100; /* h v blur spread color */
	z-index: 1;
}

.bubaloop.highlight.html strong.comment.small {
	box-shadow: 0 0 0 4px #8AD100; /* h v blur spread color */
}

.bubaloop.highlight.html strong.comment,
.bubaloop.highlight.html strong .comment,
.bubaloop.highlight.html strong .comment a {
	color: #ffffff;
}

.codeblock .bubaloop.html,
.codeblock .bubaloop.css {
	background-color: #2E2F31;
	color: #B6C2D3;
}

.bubaloop.html .doctype {
	color: #505B66;
}

.bubaloop.html .tag,
.bubaloop.css .selector {
	color: #0076E6;
}

.bubaloop.highlight.html strong .tag {
	color: #272727;
}

.bubaloop.html .attribute,
.bubaloop.css .property {
	color: #788598;
}

.bubaloop.highlight.html strong .attribute {
	color: #0040B4;
}

.bubaloop.html .attributeValue,
.bubaloop.css .value {
	color: #00A6FF;
}

.bubaloop.highlight.html strong .attributeValue {
	color: #ffffff;
}

.bubaloop.html .comment,
.bubaloop.css .comment {
	color: #91E500;
}

/* Licuid */

.bubaloop .licuid .keyword,
.bubaloop.licuid .keyword {
	color: var(--keywords-light-color);
}

/*
.bubaloop .licuid .symbol,
.bubaloop.licuid .symbol {
	color: #ff0000;
}
*/

.bubaloop .licuid .operator,
.bubaloop.licuid .operator {
	color: var(--punctuation-light-color);
}

.bubaloop .licuid .comment,
.bubaloop .licuid .comment a,
.bubaloop.licuid .comment,
.bubaloop.licuid .comment a {
	color: var(--comments-light-color);
}

.bubaloop .licuid .type,
.bubaloop.licuid .type {
	color: var(--types-light-color);
}

.bubaloop .licuid .typeValue,
.bubaloop.licuid .typeValue {
	color: var(--type-details-light-color);
}

.bubaloop .licuid .string,
.bubaloop.licuid .string {
	color: var(--strings-light-color);
}

.bubaloop .licuid .i18n,
.bubaloop.licuid .i18n {
	color: var(--i18n-light-color);
}

.bubaloop .licuid .type + .numberBase,
.bubaloop.licuid .type + .numberBase,
.bubaloop .licuid .type + .numberDetails,
.bubaloop.licuid .type + .numberDetails,
.bubaloop .licuid .type + .i18n,
.bubaloop.licuid .type + .i18n {
	color: var(--type-details-light-color);
}

.bubaloop .licuid .number,
.bubaloop.licuid .number {
	color: var(--numbers-light-color);
}

.bubaloop .licuid .numberBase,
.bubaloop.licuid .numberBase,
.bubaloop .licuid .numberDetails,
.bubaloop.licuid .numberDetails {
	color: var(--number-details-light-color);
}

.bubaloop .licuid .meta,
.bubaloop.licuid .meta {
	color: var(--attributes-light-color);
}

@media (prefers-color-scheme: dark) {

	.bubaloop .licuid .keyword,
	.bubaloop.licuid .keyword {
		color: var(--keywords-dark-color);
	}

	.bubaloop .licuid .operator,
	.bubaloop.licuid .operator {
		color: var(--punctuation-dark-color);
	}

	.bubaloop .licuid .comment,
	.bubaloop .licuid .comment a,
	.bubaloop.licuid .comment,
	.bubaloop.licuid .comment a {
		color: var(--comments-light-color);
	}

	.bubaloop .licuid .type,
	.bubaloop.licuid .type {
		color: var(--types-dark-color);
	}

	.bubaloop .licuid .typeValue,
	.bubaloop.licuid .typeValue {
		color: var(--type-details-dark-color);
	}

	.bubaloop .licuid .string,
	.bubaloop.licuid .string {
		color: var(--strings-dark-color);
	}

	.bubaloop .licuid .i18n,
	.bubaloop.licuid .i18n {
		color: var(--i18n-dark-color);
	}

	.bubaloop .licuid .type + .i18n,
	.bubaloop.licuid .type + .i18n {
		color: var(--type-details-dark-color);
	}

	.bubaloop .licuid .number,
	.bubaloop.licuid .number {
		color: var(--numbers-dark-color);
	}

	.bubaloop .licuid .numberDetails,
	.bubaloop.licuid .numberDetails {
		color: var(--number-values-dark-color);
	}

	.bubaloop .licuid .meta,
	.bubaloop.licuid .meta {
		color: var(--attributes-dark-color);
	}

}

/* Shell */

.bubaloop.highlight .shell strong,
.bubaloop.highlight.shell strong {
	color: #ffffff;
	background-color: #606060;
	box-shadow: 0 0 0 6px #606060; /* h v blur spread color */
}

.bubaloop .shell .keyword,
.bubaloop.shell .keyword {
	color: var(--keywords-light-color);
}

.bubaloop .shell .parameter,
.bubaloop.shell .parameter {
	color: var(--shell-parameters-light-color);
}

.bubaloop .shell .comment,
.bubaloop.shell .comment {
	color: var(--comments-light-color);
}

@media (prefers-color-scheme: dark) {

	.bubaloop.highlight .shell strong,
	.bubaloop.highlight.shell strong {
		color: #000000;
		background-color: #606060; /* TODO */
		box-shadow: 0 0 0 6px #606060; /* h v blur spread color */
	}

	.bubaloop .shell .keyword,
	.bubaloop.shell .keyword {
		color: var(--keywords-dark-color);
	}

	.bubaloop .shell .parameter,
	.bubaloop.shell .parameter {
		color: var(--shell-parameters-dark-color);
	}

	.bubaloop .shell .comment,
	.bubaloop.shell .comment {
		color: var(--comments-dark-color);
	}

}

/* Visual Basic, Ada, Object Pascal, Smalltalk, Common Lisp, Haskell, F# */

/*
.bubaloop.highlight.visualbasic strong,
.bubaloop.highlight.ada strong,
.bubaloop.highlight.objectpascal strong,
.bubaloop.highlight.smalltalk strong,
.bubaloop.highlight.commonlisp strong,
.bubaloop.highlight.haskell strong,
.bubaloop.highlight.fs strong {
	color: #101010;
	background-color: hsl(195, 100%, 50%);
	box-shadow: 0 0 0 6px hsl(195, 100%, 50%); /* h v blur spread color * /
	position: relative;
	z-index: 2;
}

.bubaloop.highlight.visualbasic strong.small,
.bubaloop.highlight.ada strong.small,
.bubaloop.highlight.objectpascal strong.small,
.bubaloop.highlight.smalltalk strong.small,
.bubaloop.highlight.commonlisp strong.small,
.bubaloop.highlight.haskell strong.small,
.bubaloop.highlight.fs strong.small {
	box-shadow: 0 0 0 4px hsl(195, 100%, 50%); /* h v blur spread color * /
}

.bubaloop.highlight.visualbasic strong.comment,
.bubaloop.highlight.ada strong.comment,
.bubaloop.highlight.objectpascal strong.comment,
.bubaloop.highlight.smalltalk strong.comment,
.bubaloop.highlight.commonlisp strong.comment,
.bubaloop.highlight.haskell strong.comment,
.bubaloop.highlight.fs strong.comment {
	background-color: #D10077;
	box-shadow: 0 0 0 6px #D10077; /* h v blur spread color * /
	z-index: 1;
}
*/


/* highlighter */

.bubaloop .keyword,
.bubaloop .parameter,
.bubaloop .type,
.bubaloop .symbol,
.bubaloop .operator,
.bubaloop .label,
.bubaloop .comment,
.bubaloop .directive,
.bubaloop .number,
.bubaloop .boolean,
.bubaloop .string,
.bubaloop .char,

.bubaloop.javascript .variableName,
.bubaloop.javascript .functionName,
.bubaloop.javascript .argumentsDelimiter,
.bubaloop.javascript .argumentsSeparator,
.bubaloop.javascript .objectDelimiter,
.bubaloop.javascript .objectSeparator,
.bubaloop.javascript .objectProperty,
.bubaloop.javascript .objectMethod,
.bubaloop.javascript .propertyName,
.bubaloop.javascript .propertySeparator,
.bubaloop.javascript .arrayDelimiter,
.bubaloop.javascript .arraySeparator,
.bubaloop.javascript .statementSeparator,
.bubaloop.javascript .regex,
.bubaloop.javascript .exceptionStub,

.bubaloop.html .doctype,
.bubaloop.html .tag,
.bubaloop.html .attribute,
.bubaloop.html .attributeValue,
.bubaloop.html .text,

.bubaloop.assembly .section,
.bubaloop.assembly .register {

	transition: opacity 500ms, color 300ms;
}

.bubaloop.highlight .keyword,
.bubaloop.highlight .parameter,
.bubaloop.highlight .type,
.bubaloop.highlight .symbol,
.bubaloop.highlight .operator,
.bubaloop.highlight .label,
.bubaloop.highlight .comment,
.bubaloop.highlight .directive,
.bubaloop.highlight .number,
.bubaloop.highlight .boolean,
.bubaloop.highlight .string,
.bubaloop.highlight .char,

.bubaloop.highlight.cpp .rstring,
.bubaloop.highlight.objectivec .objcstring,
.bubaloop.highlight.rust .lifetime,
.bubaloop.highlight.rust .attribute,
.bubaloop.highlight.cs .vstring,
.bubaloop.highlight.cs .istring,
.bubaloop.highlight.cs .attribute,
.bubaloop.highlight.java .annotation,
.bubaloop.highlight.kotlin .annotation,
.bubaloop.highlight.python .decorator,
.bubaloop.highlight.visualbasic .attribute,

.bubaloop.highlight.javascript .variableName,
.bubaloop.highlight.javascript .functionName,
.bubaloop.highlight.javascript .argumentsDelimiter,
.bubaloop.highlight.javascript .argumentsSeparator,
.bubaloop.highlight.javascript .objectDelimiter,
.bubaloop.highlight.javascript .objectSeparator,
.bubaloop.highlight.javascript .objectProperty,
.bubaloop.highlight.javascript .objectMethod,
.bubaloop.highlight.javascript .propertyName,
.bubaloop.highlight.javascript .propertySeparator,
.bubaloop.highlight.javascript .arrayDelimiter,
.bubaloop.highlight.javascript .arraySeparator,
.bubaloop.highlight.javascript .statementSeparator,
.bubaloop.highlight.javascript .regex,
.bubaloop.highlight.javascript strong .comment, /* pq precisa disso? */
.bubaloop.highlight.javascript .null,
.bubaloop.highlight.javascript .undefined,

.bubaloop.highlight.html .doctype,
.bubaloop.highlight.html .tag,
.bubaloop.highlight.html .attribute,
.bubaloop.highlight.html .attributeValue,
.bubaloop.highlight.html .text,
.bubaloop.highlight.html .comment,

.bubaloop.highlight.assembly .section,
.bubaloop.highlight.assembly .register {

	opacity: 0.4;
}

/*.bubaloop.highlight.javascript .comment a,
.bubaloop.highlight.javascript strong .comment a,
.bubaloop.highlight.javascript .propertyName * {
	opacity: 1;
}*/

/* TODO usar versão dark do bubaloop para html */

/* highlight enhancer */

code {
	position: relative;
}

.highlightControls {
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity 500ms;
	opacity: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	/*width: 100px;
	height: 100px;*/
}

.highlightControls input {
	vertical-align: bottom;
}

.highlightControls input[type=checkbox] {
	margin-bottom: 3px;
}

.highlightControls label {
	padding-left: 5px;
}

code:hover .highlightControls {
	opacity: 1;
}






.tiposprimitivos table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
	min-width: 170px;
	border-collapse: collapse;
	white-space: nowrap;
	width: 180px;
}

.tiposprimitivos .codeblock:first-child table,
.tiposprimitivos .codeblock:nth-child(2) table,
.tiposprimitivos .codeblock:nth-child(3) table,
.tiposprimitivos .codeblock:first-child p,
.tiposprimitivos .codeblock:nth-child(2) p,
.tiposprimitivos .codeblock:nth-child(3) p {
	width: 225px;
}

.tiposprimitivos th {
	text-align: left;
}

.tiposprimitivos th:first-child,
.tiposprimitivos td:first-child {
	text-align: right;
	padding-right: 5px;
	padding-left: 0;
}

.tiposprimitivos th,
.tiposprimitivos td {
	border: 1px solid #EEEEEE;
	padding-left: 6px;
	font-size: 12px;
}

@media (prefers-color-scheme: dark) {
	.tiposprimitivos th,
	.tiposprimitivos td {
		border-color: #444444;
	}
}

.tiposprimitivos .codeblock p {
	width: 180px;
}